#管理しないフォルダ
Bootstrap4SiteFiles/
myportfolio/
NunoTheme/
UdemyCafe/


#detのimgはgit管理しない
det/img

#skeletonのimgはgit管理しない
skeleton/img

#flowerのimgはgit管理しない
flower/img

#30days2nd/day1のimgはgit管理しない
30days2nd/day1/img