#管理しないフォルダ
Bootstrap4SiteFiles/
myportfolio/
NunoTheme/
UdemyCafe/


#detのimgはgit管理しない
det/img

#skeletonのimgはgit管理しない
skeleton/img

#flowerのimgはgit管理しない
flower/img

#30days2nd/dayのimgはgit管理しない
30days2nd/day1/img
30days2nd/day2/img
30days2nd/day3/img
30days2nd/day4/img
30days2nd/day5/img
30days2nd/day6/img
30days2nd/day7/img
30days2nd/day8/img
30days2nd/day9/img
30days2nd/day10/img
30days2nd/day11/img
30days2nd/day12/img
30days2nd/day13/img
30days2nd/day14/img
30days2nd/day15/img
30days2nd/day16/img
30days2nd/day17/img
30days2nd/day18/img
30days2nd/day19/img
30days2nd/day20/img
30days2nd/day21/img
30days2nd/day22/img
30days2nd/day23/img
30days2nd/day24/img
30days2nd/day25/img
30days2nd/day26/img
30days2nd/day27/img
30days2nd/day28/img
30days2nd/day29/img
30days2nd/day30/img