@charset "UTF-8";
/*------------------------------------------*
* import
*------------------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/*------------------------------------------*
* 変数
*------------------------------------------*/
/*------------------------------------------*
* メディアクエリ
*------------------------------------------*/
/*------------------------------------------*
* html
*------------------------------------------*/
html {
  font-size: 62.5%;
}

/*------------------------------------------*
* body　
*------------------------------------------*/
body {
  font-family: 'Lato', 'Noto Sans JP', sans-serif;
}

/*------------------------------------------*
* wrapper
*------------------------------------------*/
.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

/*------------------------------------------*
* common
*------------------------------------------*/
.com_headline {
  color: #0066CC;
  font-size: 6rem;
  font-weight: normal;
  text-align: left;
}

.com_title {
  font-size: 3.6rem;
  font-weight: bold;
}

/*------------------------------------------*
* mixin
*------------------------------------------*/
/*------------------------------------------*
* extend
*------------------------------------------*/
/*------------------------------------------*
* global-nav
*------------------------------------------*/
.global-nav {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  font-size: 2.6rem;
  color: #333333;
  padding-top: 60px;
  background-color: white;
}

.global-nav__logo_sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 50px;
  margin-bottom: 78px;
}

.global-nav__logo {
  position: absolute;
  left: 0;
}

.global-nav__logo span {
  color: #0066CC;
}

.global-nav__sns {
  position: absolute;
  right: 0;
  top: 10px;
}

.global-nav__sns .fa-instagram, .global-nav__sns .fa-twitter {
  margin-right: 50px;
}

#global-nav-wrapper {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}

#global-nav-wrapper nav ul li {
  display: inline-block;
  font-size: 1.6rem;
  padding: 30px 20px 25px 28px;
}

#global-nav-wrapper nav ul li a {
  text-decoration: none;
  color: #333333;
}

@media (max-width: 768px) {
  #global-nav-wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: #333333;
    font-size: 1.6rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 2;
  }
  #global-nav-wrapper nav ul li {
    display: block;
    padding: 20px 28px;
  }
  #global-nav-wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  #global-nav-wrapper span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  #global-nav-wrapper span:nth-child(1) {
    top: 0;
  }
  #global-nav-wrapper span:nth-child(2) {
    top: 10px;
  }
  #global-nav-wrapper span:nth-child(3) {
    top: 20px;
  }
  #global-nav-wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #global-nav-wrapper .btn-gnavi.open span {
    background: #fff;
    width: 24px;
  }
}

/*------------------------------------------*
* mainVisual
*------------------------------------------*/
.mainVisual {
  background: url(../img/main.png) no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100vh;
}

/*------------------------------------------*
* message
*------------------------------------------*/
.message {
  margin-bottom: 90px;
}

.message__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.message__head__border {
  color: #333333;
  width: 100%;
  height: 7rem;
  margin-left: 1rem;
  border-bottom: 3px solid;
  position: relative;
  z-index: -1;
}

.message__head__border::after {
  content: "dummy text";
  position: absolute;
  bottom: -3px;
  right: 0;
  font-size: 2rem;
  color: #333333;
  border-bottom: 3px solid;
  border-color: #0066CC;
}

.message__head__border::after {
  content: "web制作をお考え中の方へ";
}

.message__catchphrase {
  color: #0066CC;
  font-size: 8.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.6rem;
}

.message__text {
  font-size: 2rem;
  text-align: center;
  color: #333333;
}

/*------------------------------------------*
* about
*------------------------------------------*/
.about {
  margin-bottom: 100px;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.about__head__border {
  color: #333333;
  width: 100%;
  height: 7rem;
  margin-left: 1rem;
  border-bottom: 3px solid;
  position: relative;
  z-index: -1;
}

.about__head__border::after {
  content: "dummy text";
  position: absolute;
  bottom: -3px;
  right: 0;
  font-size: 2rem;
  color: #333333;
  border-bottom: 3px solid;
  border-color: #0066CC;
}

.about__head__border::after {
  content: "自己紹介";
}

.about__info {
  width: 65%;
  color: #333333;
  text-align: left;
}

.about__info__title {
  margin-bottom: 2.6rem;
}

.about__info__text {
  font-size: 2.0rem;
  margin-bottom: 20px;
}

.about__info__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__info__icon {
  width: 100px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 15px;
}

.about__info__icon i {
  font-size: 5rem;
  color: white;
  line-height: 80px;
}

.about__info__icon p {
  font-size: 2rem;
}

.about__info__circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333333;
}

.about__image {
  width: 35%;
}

.about__image img {
  margin-left: auto;
}

/*------------------------------------------*
* service
*------------------------------------------*/
.service {
  margin-bottom: 66px;
}

.service__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.service__head__border {
  color: #333333;
  width: 100%;
  height: 7rem;
  margin-left: 1rem;
  border-bottom: 3px solid;
  position: relative;
  z-index: -1;
}

.service__head__border::after {
  content: "dummy text";
  position: absolute;
  bottom: -3px;
  right: 0;
  font-size: 2rem;
  color: #333333;
  border-bottom: 3px solid;
  border-color: #0066CC;
}

.service__head__border::after {
  content: "提供サービス";
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-bottom: 80px;
}

.service__item__icon {
  width: 180px;
  height: 180px;
  text-align: center;
  margin-right: 30px;
}

.service__item__icon i {
  color: white;
  font-size: 10rem;
  line-height: 180px;
}

.service__item__icon__circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #0066CC;
}

.service__item__describe {
  width: 50%;
  text-align: left;
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
}

.service__item__describe__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.service__item__describe__text {
  font-size: 1.5rem;
}

/*------------------------------------------*
* works
*------------------------------------------*/
.works__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.works__head__border {
  color: #333333;
  width: 100%;
  height: 7rem;
  margin-left: 1rem;
  border-bottom: 3px solid;
  position: relative;
  z-index: -1;
}

.works__head__border::after {
  content: "dummy text";
  position: absolute;
  bottom: -3px;
  right: 0;
  font-size: 2rem;
  color: #333333;
  border-bottom: 3px solid;
  border-color: #0066CC;
}

.works__head__border::after {
  content: "制作実績";
}

.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.works__items__item {
  width: 48%;
  margin-right: 0px;
  margin-bottom: 40px;
}

/*------------------------------------------*
* contact
*------------------------------------------*/
/*------------------------------------------*
* footer
*------------------------------------------*/
/*# sourceMappingURL=style.css.map */