@charset "UTF-8";
/*------------------------------------------*
* import
*------------------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/*------------------------------------------*
* 変数
*------------------------------------------*/
/*------------------------------------------*
* メディアクエリ
*------------------------------------------*/
/*------------------------------------------*
* html
*------------------------------------------*/
html {
  font-size: 62.5%;
}

/*------------------------------------------*
* body
*------------------------------------------*/
body {
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #333333;
}

/*------------------------------------------*
* inner
*------------------------------------------*/
.inner {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

/*------------------------------------------*
* common
*------------------------------------------*/
.com_title {
  color: #333333;
  font-size: 3rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.com_border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.com_border:before {
  border-top: 1px solid;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 1.5rem;
}

.com_border:after {
  border-top: 1px solid;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 1.5rem;
}

/*------------------------------------------*
* mixin
*------------------------------------------*/
/*------------------------------------------*
* extend
*------------------------------------------*/
/*------------------------------------------*
* mainVisual
*------------------------------------------*/
.mainVisual {
  position: relative;
}

.mainVisual__image1 {
  background: url(../img/main1.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 550px;
}

.mainVisual__image1__text {
  position: absolute;
  bottom: 0;
  padding-bottom: 35px;
  left: 10%;
}

.mainVisual__image2 {
  background: url(../img/main2.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 550px;
}

.mainVisual__image2__text {
  position: absolute;
  bottom: 0;
  padding-bottom: 35px;
  right: 10%;
}

.mainVisual__text1 {
  font-size: 2.4rem;
}

.mainVisual__text2 {
  font-size: 3.6rem;
}

/*------------------------------------------*
* gNav
*------------------------------------------*/
.gNav {
  margin-bottom: 43px;
  border-bottom: 1px solid #333333;
}

.gNav__message {
  color: white;
  background-color: #009DA0;
  font-size: 1rem;
  padding-left: 10%;
}

.gNav__menu {
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
  margin-left: 10%;
}

.gNav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
}

.gNav__menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gNav__menu li::after {
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  background-color: #b8b9dc;
  position: absolute;
  right: -1px;
  top: calc((100% - 20px)/2);
}

.gNav__menu li:last-child::after {
  content: none;
}

.gNav__menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.gNav__menu a:hover span {
  color: greenyellow;
  position: relative;
}

.gNav__menu span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-break: keep-all;
  margin-left: auto;
  margin-right: 20px;
}

/*------------------------------------------*
* feature
*------------------------------------------*/
.feature {
  margin-bottom: 50px;
}

.feature .com_title {
  margin-bottom: 33.5px;
}

.feature__tab_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  line-height: 50px;
  font-size: 2.4rem;
}

.feature__tab {
  color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

.feature__tab-orange {
  background-color: #ff9000;
  border: solid 2px #ff9000;
}

.feature__tab-green {
  background-color: #3ebc01;
  border: solid 2px #3ebc01;
}

.feature__tab-blue {
  background-color: #1e1efc;
  border: solid 2px #1e1efc;
}

.feature__tab-pink {
  background-color: #fc1e77;
  border: solid 2px #fc1e77;
}

.feature__panel_group {
  height: 400px;
  font-size: 1.6rem;
  line-height: 20px;
  border-top: none;
  background-color: white;
  border: solid 2px #ff9000;
}

.feature__panel {
  display: none;
}

.feature__panel__tab1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 62px;
}

.feature__panel__tab1__text {
  position: absolute;
  left: 3%;
}

.feature__panel__tab1__image {
  position: absolute;
  right: 2%;
}

.feature__panel__tab2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 62px;
}

.feature__panel__tab2__text {
  position: absolute;
  right: 3%;
}

.feature__panel__tab2__image {
  position: absolute;
  left: 2%;
}

.feature__panel__tab3 {
  background: url(../img/tab_pc.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 400px;
}

.feature__panel__tab3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover;
  z-index: 10;
}

.feature__panel__tab3__text {
  position: relative;
  padding: 25px;
  z-index: 20;
}

.feature__panel__tab4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 62px;
}

.feature__panel__tab4__text {
  position: absolute;
  left: 3%;
}

.feature__panel__tab4__leftBlock {
  width: 50%;
}

.feature__panel__tab4__rightBlock {
  width: 50%;
}

.feature__panel__tab4__rightBlock img {
  width: 250px;
  height: 150px;
}

.feature__panel__tab4__rightBlock__image1 {
  margin-left: auto;
  margin-right: 20px;
}

.feature__panel__tab4__rightBlock__image2 {
  margin-left: 20px;
}

.feature .feature__tab.is-active {
  background-color: white;
  color: #ff9000;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.feature .feature__panel.is-show {
  display: block;
}

/*------------------------------------------*
* concept
*------------------------------------------*/
.concept {
  background-color: #e0e0e0;
  padding-top: 51.5px;
  padding-bottom: 49px;
}

.concept .com_title {
  padding-bottom: 30.5px;
}

.concept__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.concept__featured {
  width: 500px;
  height: 310px;
}

.concept__featured img {
  width: 100%;
  height: 100%;
}

.concept__thumbnails {
  margin-right: 14px;
  margin-left: 8px;
}

.concept__thumbnails img {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  border: 2px solid #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.concept__thumbnails img.active {
  border: 2px solid #cac6b8;
}

.concept__thumbnails img:last-child {
  margin-bottom: 0;
}

.concept__text {
  font-size: 1.6rem;
  line-height: 20px;
  width: 35%;
}

/*------------------------------------------*
* parallax
*------------------------------------------*/
/*------------------------------------------*
* voice
*------------------------------------------*/
/*------------------------------------------*
* company
*------------------------------------------*/
/*------------------------------------------*
* contact
*------------------------------------------*/
/*------------------------------------------*
* footer
*------------------------------------------*/
.footer {
  color: white;
  background-color: #009DA0;
  text-align: right;
  height: 45px;
  line-height: 45px;
}
/*# sourceMappingURL=style.css.map */