@charset "UTF-8";
/*------------------------------------------*
* margin系CSS
*------------------------------------------*/
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top:10px;
}
.mt15 {
    margin-top:15px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mr5{
    margin-right: 5px;
}
.mr10{
    margin-right:10px;
}
.mr15 {
    margin-right:15px;
}
.mr20 {
    margin-right: 20px;
}
.mr40 {
    margin-right: 40px;
}
.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom:10px;
}
.mb15 {
    margin-bottom:15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb80 {
    margin-bottom: 80px;
}
.mb130 {
    margin-bottom: 130px;
}
.mb140 {
    margin-bottom: 140px;
}
.mb255 {
    margin-bottom: 255px;
}
.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left:10px;
}
.ml15 {
    margin-left:15px;
}
.ml20 {
    margin-left: 20px;
}
.ml40 {
    margin-left: 40px;
}
.ml50 {
    margin-left: 50px;
}
.mtb10 {
    margin: 10px 0;
}