/*------------------------------------------*
* common
*------------------------------------------*/
$whiteColor:#ffffff;
$ivoryColor:#f3f3f3;
$blackColor:#3e3e3e;
$yellowColor:#ffaa3b;
$blueColor:#4973ff;
$redColor:#ff4646;


// レスポンシブ用
$maxWidth: 1366px;
$midWidth: 768px;
$smWidth: 320px;

$hoverOpacityVal: 0.8;


body {
    color: #3e3e3e;
    background-color: $ivoryColor;
    font-family: 'Montserrat','YuGothic','sans-serif';
}

// 継承先で各値は変更する
// comはcommonの略
.comBtn {
    width: 300px;
    max-width: 100%;
    padding: 20px 10px;
    background-color: $whiteColor;
    border: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    transition: .25s;
}
.comBtn:hover {
    opacity: $hoverOpacityVal;
}
.comTitle {
    padding: 60px 0;
    font-size: 36;
    font-weight: bold;
}


/*------------------------------------------*
* header
*------------------------------------------*/
$headerHeight: 80px;

.header__inner {
    position: fixed;
    width: 100%;
    height: $headerHeight;
    background: #FFFFFF1A 0% 0% no-repeat padding-box;
}

.header__menuList {
    display: flex;
    justify-content: center;
    line-height: $headerHeight;
    list-style: none;
}

.header__item {
    text-decoration: none;
}
.header__item:hover {
    opacity: $hoverOpacityVal;
}

/*------------------------------------------*
* mainVisual
*------------------------------------------*/
.mainVisual {
    width: 100vw;
    height: 648px;
    background-image: url("../img/mv.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainVisual__items {
    position: relative;
    width: 33%;
    top: 30%;
    left: 55%;
}

.mainVisual__items_title {
    font: Bold 30px/45px normal;
    letter-spacing: 0.02px;
}

.mainVisual__items_text {
    font-size: 18px;
    font-weight: bold;
}

.mainVisual__items_btn {
    padding: 14px 48px;
    box-shadow: 0px 3px 5px #3E3E3E33;
    border-radius: 10px;
    background-color: $yellowColor;
    color: $whiteColor;
}

/*------------------------------------------*
* news
*------------------------------------------*/
.newsInner {
    background-color: $whiteColor;
    height: 665px;
    box-shadow: 0px 5px 12px #3E3E3E33;
}

.newsInner__contents {
    width: 90%;
    margin: 0 auto;
}

.newsInner__menuTitle {
    text-align: center;
}

.newsInner__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.newsInner__borderTop {
    border-top: #cecdcd 1px solid;
}

.newsInner__borderBottom {
    border-bottom: #cecdcd 1px solid;
}

.newsInner__item_day {
    padding-right: 30px;
}

.newsInner__item_text {
    width: 125px;
    border: 2px solid $blueColor;
    border-radius: 30px;
    text-align: center;
}

.newsInner__item_content {
    width: 58%;
    padding-left: 30px;
}

.newsInner__item_arrow {
    padding-left: 40px;
}

.newsInner__btn {
    border: 1px solid $blackColor;
    width: 248px;
    height: 64px;
    color: $blackColor;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 40px auto;
}

/*------------------------------------------*
* service
*------------------------------------------*/
.serviceInner {
    background-color: $blackColor;
    width: 100vw;
    height: 350px;
}

.serviceInner__title {
    text-align: center;
    color: $whiteColor;
}

.serviceInner__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 960px;
    height: 321px;
    margin: 0 auto;
}

.serviceInner__item {
    display: flex;
    width: 231px;
    height: 211px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


/*------------------------------------------*
* result
*------------------------------------------*/
.resultInner {
    // width: 1273px;
    height: 800px;
    background-color: $blackColor;
    margin-left: 10%;
    padding-left: 10%;
}

.resultInner__title {
    color: $whiteColor;
}

.resultInner__items {
    display: flex;
}

.resultInner__item {
    background-color: $whiteColor;
    height: 368px;
}

.resultInner__item_description {
    padding: 18px;
}

.resultInner__item_descriptionTitle {
    font: Bold 20px/24px "YuGothic";
    color: $blackColor;
    padding-bottom: 20px;
}

.resultInner__item_descriptionText {
    font: normal 16px/24px "YuGothic";
    color: $blackColor;
}

.swiper-slide {
    cursor: pointer;
}

.swiper-pagination-bullets {
    display: flex;
    margin: 60px 0;
}

.swiper-pagination-bullet {
    padding: 7px;
    margin-right: 15px;
    background: $whiteColor !important;
    opacity: 1 !important;
    background: $whiteColor !important;
    border: solid 2.5px $blackColor;
    box-shadow: 0 0 0 0px $whiteColor;
    -webkit-box-shadow: 0 0 0 0px $whiteColor;
    -moz-box-shadow: 0 0 0 1px $whiteColor;
}

.swiper-pagination-bullet-active {
    background: $whiteColor !important;
    border: solid 2.5px $blackColor;
    box-shadow: 0 0 0 0px $whiteColor;
    -webkit-box-shadow: 0 0 0 2px $whiteColor;
    -moz-box-shadow: 0 0 0 1px $whiteColor;
}

.resultInner__btn {
    position: relative;
    top: 18%;
    color: white;
    background-color: $blackColor;
    border: solid 1px white;
    font: bold 20px/23px "Montserrat";
    letter-spacing: 4px;
}

/*------------------------------------------*
* price
*------------------------------------------*/
.priceInner {
    width: 960px;   
}

.priceInner__title {
    color: $blackColor;
    text-align: center;
}

.horizontalTable {
    border: 1px solid #ddd;
}

.horizontalTable__inner {
    width: 100%;
}

.horizontalTable__header {
    width: 30%;
    padding: 20px;
    background-color: $blackColor;
    color: $whiteColor;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    vertical-align: middle;
}

.horizontalTable__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: $whiteColor;
    text-align: left;
    padding-left: 50px;
    font: {
        size: 20px;
        weight: bold;
    }
}

.horizontalTable__row:last-child .horizontalTable__header,
.horizontalTable__row:last-child .horizontalTable__text {
    border-bottom-width: 0;
}

.priceInner__attention {
    padding-top: 24px;
}

/*------------------------------------------*
* comments
*------------------------------------------*/

/*------------------------------------------*
* q&a
*------------------------------------------*/

/*------------------------------------------*
* access
*------------------------------------------*/

/*------------------------------------------*
* contact
*------------------------------------------*/

/*------------------------------------------*
* footer
*------------------------------------------*/


/*------------------------------------------*
* query   
*------------------------------------------*/
/* SE */
@media screen and (min-width: $smWidth) and (max-width: $midWidth) {
}

/* iPad */
@media screen and (min-width: $midWidth) and (max-width: $maxWidth) {
}

/* PC */
@media screen and (min-width: $maxWidth) {
    .newsInner,
    .commentsInner,
    .QAInner,
    .accessInner
    {
        max-width: 1180px;
        margin: 0 auto;
    }

    .priceInner,
    .contactInner,
    .footer
    {
        max-width: 960px;
        margin: 0 auto;
    }
}
