/*------------------------------------------*
* common
*------------------------------------------*/
body {
  color: #3e3e3e;
  background-color: #f3f3f3;
  font-family: 'Montserrat','YuGothic','sans-serif';
}

.comBtn {
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #ffffff;
  border: 2px solid transparent;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
}

.comBtn:hover {
  opacity: 0.8;
}

.comTitle {
  padding: 60px 0;
  font-size: 36px;
  font-weight: bold;
}

/*------------------------------------------*
* header
*------------------------------------------*/
.header__inner {
  position: absolute;
  width: 100%;
  height: 80px;
  background: #FFFFFF1A 0% 0% no-repeat padding-box;
  z-index: 2;
}

.header__menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 80px;
  list-style: none;
}

.header__item {
  text-decoration: none;
}

.header__item:hover {
  opacity: 0.8;
}

/*------------------------------------------*
* mainVisual
*------------------------------------------*/
.mainVisual {
  position: relative;
  width: 100vw;
  height: 648px;
  background-image: url("../img/mv.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainVisual__items {
  position: relative;
  width: 33%;
  top: 30%;
  left: 55%;
}

.mainVisual__items_title {
  font: Bold 30px/45px normal;
  letter-spacing: 0.02px;
}

.mainVisual__items_text {
  font-size: 18px;
  font-weight: bold;
}

.mainVisual__items_btn {
  padding: 14px 48px;
  -webkit-box-shadow: 0px 3px 5px #3e3e3e;
          box-shadow: 0px 3px 5px #3e3e3e;
  border-radius: 10px;
  background-color: #ffaa3b;
  color: #ffffff;
}

/*------------------------------------------*
* news
*------------------------------------------*/
.newsInner {
  background-color: #ffffff;
  height: 665px;
  -webkit-box-shadow: 0px 5px 12px #3e3e3e;
          box-shadow: 0px 5px 12px #3e3e3e;
}

.newsInner__contents {
  width: 90%;
  margin: 0 auto;
}

.newsInner__menuTitle {
  text-align: center;
}

.newsInner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.newsInner__borderTop {
  border-top: #cecdcd 1px solid;
}

.newsInner__borderBottom {
  border-bottom: #cecdcd 1px solid;
}

.newsInner__item_day {
  padding-right: 30px;
}

.newsInner__item_text {
  width: 125px;
  border: 2px solid #4973ff;
  border-radius: 30px;
  text-align: center;
}

.newsInner__item_content {
  width: 58%;
  padding-left: 30px;
}

.newsInner__item_arrow {
  padding-left: 40px;
}

.newsInner__btn {
  border: 1px solid #3e3e3e;
  width: 248px;
  height: 64px;
  color: #3e3e3e;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 40px auto;
}

/*------------------------------------------*
* service
*------------------------------------------*/
.serviceInner {
  background-color: #3e3e3e;
  width: 100vw;
  height: 350px;
}

.serviceInner__title {
  text-align: center;
  color: #ffffff;
}

.serviceInner__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 960px;
  height: 321px;
  margin: 0 auto;
}

.serviceInner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 231px;
  height: 211px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*------------------------------------------*
* result
*------------------------------------------*/
.resultInner {
  height: 800px;
  background-color: #3e3e3e;
  margin-left: 10%;
  padding-left: 10%;
}

.resultInner__title {
  color: #ffffff;
}

.resultInner__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resultInner__item {
  background-color: #ffffff;
  height: 368px;
}

.resultInner__item_description {
  padding: 18px;
}

.resultInner__item_descriptionTitle {
  font: Bold 20px/24px "YuGothic";
  color: #3e3e3e;
  padding-bottom: 20px;
}

.resultInner__item_descriptionText {
  font: normal 16px/24px "YuGothic";
  color: #3e3e3e;
}

.swiper-slide {
  cursor: pointer;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
}

.swiper-pagination-bullet {
  padding: 7px;
  margin-right: 15px;
  background: #ffffff !important;
  opacity: 1 !important;
  background: #ffffff !important;
  border: solid 2.5px #3e3e3e;
  box-shadow: 0 0 0 0px #ffffff;
  -webkit-box-shadow: 0 0 0 0px #ffffff;
  -moz-box-shadow: 0 0 0 1px #ffffff;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
  border: solid 2.5px #3e3e3e;
  box-shadow: 0 0 0 0px #ffffff;
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  -moz-box-shadow: 0 0 0 1px #ffffff;
}

.resultInner__btn {
  position: relative;
  top: 18%;
  color: white;
  background-color: #3e3e3e;
  border: solid 1px white;
  font: bold 20px/23px "Montserrat";
  letter-spacing: 4px;
}

/*------------------------------------------*
* price
*------------------------------------------*/
.priceInner {
  width: 960px;
}

.priceInner__title {
  color: #3e3e3e;
  text-align: center;
}

.horizontalTable {
  border: 1px solid #ddd;
}

.horizontalTable__inner {
  width: 100%;
}

.horizontalTable__header {
  width: 30%;
  padding: 20px;
  background-color: #3e3e3e;
  color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  vertical-align: middle;
}

.horizontalTable__text {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.horizontalTable__row:last-child .horizontalTable__header,
.horizontalTable__row:last-child .horizontalTable__text {
  border-bottom-width: 0;
}

.priceInner__attention {
  padding-top: 24px;
}

/*------------------------------------------*
* comments
*------------------------------------------*/
.commentsBackGround {
  background: #3e3e3e 0% 0% no-repeat padding-box;
  width: 70%;
  height: 616px;
  z-index: -1;
  position: absolute;
  margin-top: 10%;
  margin-right: auto;
}

.commentsInner {
  width: 1180px;
  height: 616px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.commentsInner__comment_items {
  width: 644px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.commentsInner__comment {
  width: 564px;
  height: 100%;
}

.commentsInner__comment_title {
  padding: 0;
  font-weight: bold;
  font-size: 36px;
  font-family: "Montserrat";
  letter-spacing: 0;
  color: #3e3e3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.3em 0;
}

.commentsInner__comment_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em 0;
}

.commentsInner__comment_itemText {
  margin-left: auto;
  width: 72%;
  font-size: 16px;
  font-font: "YuGothic";
  color: #3e3e3e;
}

.commentsInner__allCommenter_img {
  padding-top: 10%;
}

/*------------------------------------------*
* q&a
*------------------------------------------*/
.QAInner__BG {
  margin-top: 155px;
  background-image: url("/img/sunyu-kim-1053375-unsplash.png");
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.QAInner__title {
  padding-top: 50px;
  text-align: center;
}

.menu__item {
  width: 616px;
  background: white;
  color: #3e3e3e;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  border-radius: 7px;
  margin-left: 48%;
  margin-bottom: 30px;
}

.menu__item__link {
  color: #3e3e3e;
  display: block;
  line-height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  font-font: "YuGothic";
}

.menu__item__link:after {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url("../img/plus.png");
  background-position: right center;
  background-repeat: no-repeat;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: -90%;
}

.menu__item__link.on:after {
  content: '';
  background-image: url("../img/minus.png");
  width: 15px;
  height: 15px;
  background-position: right center;
  background-repeat: no-repeat;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: -90%;
}

.menu__item_Q {
  background: #3B69FF 0% 0% no-repeat padding-box;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__item_text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 20px;
  margin-left: 10px;
}

.openMenu {
  background: #fff;
  border-radius: 0 0 7px 7px;
  display: none;
}

.openMenu_none {
  display: none;
}

.openMenu_BG {
  background-color: #3B69FF33;
  width: 580px;
  border-radius: 7px;
  padding: 18px;
}

.openMenu__item {
  color: #3e3e3e;
  padding: 1rem;
  cursor: pointer;
}

/*------------------------------------------*
* access
*------------------------------------------*/
.accessInner {
  width: 100%;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  color: white;
}

.accessInner__BG {
  background-color: #3e3e3e;
  width: 73%;
}

.accessInner__Items {
  padding-top: 10%;
  padding-bottom: 15%;
}

.accessInner__title {
  padding-top: 0;
  padding-bottom: 0;
}

.accessInner__address {
  font: Normal 16px/26px "Yu Gothic UI";
}

.accessInner__btn {
  background-color: #3e3e3e;
  border: 1px solid #FFFFFF;
}

.accessInner__map {
  position: absolute;
  right: 0%;
  margin-top: -33%;
  margin-right: 10%;
}

/*------------------------------------------*
* contact
*------------------------------------------*/
.contact__BG {
  background-image: url("/img/alex-blajan-159378-unsplash.png");
  width: 100%;
  height: 1216px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contactInner {
  width: 960px;
  height: 1055px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.contactHeader {
  background-image: url("../img/contact1.png");
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.contactHeader__title {
  color: white;
  text-align: center;
  padding-bottom: 12px;
}

.contactHeader__text {
  color: white;
  text-align: center;
  font-size: 16px;
}

.contactItems__BG {
  background-color: white;
  height: 855px;
  border-radius: 0px 0px 12px 12px;
  padding: 60px 90px;
  font-size: 22px;
  color: #3e3e3e;
}

.contactItems {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactItems__item {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactItems__required {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactItems__required_text {
  background-color: #ff4646;
  width: 55px;
  height: 24px;
  color: white;
  position: relative;
  left: 20%;
  border-radius: 5px;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
}

.contactItems__select {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cp_ipselect {
  overflow: hidden;
  width: 50%;
  height: 32px;
  text-align: center;
}

.cp_ipselect select {
  width: 100%;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.cp_ipselect select::-ms-expand {
  display: none;
}

.cp_ipselect.cp_sl01 {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}

.cp_ipselect.cp_sl01::before {
  position: absolute;
  top: 0.6em;
  right: 0.5em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

.cp_ipselect.cp_sl01 select {
  padding-left: 5%;
  font-size: 18px;
}

.comInput {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #dddddd;
  border: none;
  border-bottom: 2px solid #dddddd;
  background: transparent;
  font-size: 22px;
}

.ef_name input[type='name']:focus {
  border-bottom: 2px solid #4973ff;
  outline: none;
}

.ef_name_sub input[type='name_sub']:focus {
  border-bottom: 2px solid #4973ff;
  outline: none;
}

.cp_address input[type='address'] {
  color: #3e3e3e;
  border-bottom: 2px solid #3e3e3e;
}

.ef_address input[type='address']:focus {
  border-bottom: 2px solid #4973ff;
  outline: none;
}

.contactItems__bottomMenu {
  width: 100%;
  height: 450px;
  padding-top: 20px;
}

.contactItems__bottomMenu_textarea {
  width: 100%;
  height: 50%;
}

.cp_ipcheck {
  padding: 30px 0;
}

.option-input05 {
  width: 20px;
  height: 20px;
}

.contactItems__bottomMenu_btn {
  width: 174px;
  height: 50px;
  background: #FFAA3B 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 5px #00000033;
          box-shadow: 0px 3px 5px #00000033;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-label {
  font-size: 22px;
  padding-right: 60px;
}

/*------------------------------------------*
* footer
*------------------------------------------*/
.footer {
  background-color: #3e3e3e;
  height: 425px;
  position: relative;
  color: white;
}

.footerInner {
  width: 1180px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-twitter {
  color: #B1B1B1;
  padding-right: 20px;
}

.fa-facebook {
  color: #B1B1B1;
}

.footer__items_menuList {
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  font-font: "YuGothic";
}

.footer__logo {
  margin-left: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  text-align: right;
}

.footer__logo_main {
  color: #E3E3E3;
  font-weight: bold;
  font-size: 44px;
  font-font: "Berlin Sans FB";
}

.footer__logo_copy {
  color: white;
  font-size: 12px;
  font-font: "Montserrat";
}

.arrow {
  position: fixed;
  bottom: 2%;
  right: 3%;
  width: 50px;
  height: 50px;
  background: transparent url("/img/totop.png") 0% 0% no-repeat padding-box;
}

/*------------------------------------------*
* query   
*------------------------------------------*/
/* SE */
/* iPad */
/* PC */
@media screen and (min-width: 1366px) {
  .newsInner,
  .commentsInner {
    max-width: 1180px;
    margin: 0 auto;
  }
  .priceInner {
    max-width: 960px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */