/*------------------------------------------*
* common
*------------------------------------------*/
body {
  color: #3e3e3e;
  background-color: #f3f3f3;
  font-family: 'Montserrat','YuGothic','sans-serif';
}

.comBtn {
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #ffffff;
  border: 2px solid transparent;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
}

.comBtn:hover {
  opacity: 0.8;
}

.comTitle {
  padding: 60px 0;
  font-size: 36;
  font-weight: bold;
}

/*------------------------------------------*
* header
*------------------------------------------*/
.header__inner {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #FFFFFF1A 0% 0% no-repeat padding-box;
}

.header__menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 80px;
  list-style: none;
}

.header__item {
  text-decoration: none;
}

.header__item:hover {
  opacity: 0.8;
}

/*------------------------------------------*
* mainVisual
*------------------------------------------*/
.mainVisual {
  width: 100vw;
  height: 648px;
  background-image: url("../img/mv.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainVisual__items {
  position: relative;
  width: 33%;
  top: 30%;
  left: 55%;
}

.mainVisual__items_title {
  font: Bold 30px/45px normal;
  letter-spacing: 0.02px;
}

.mainVisual__items_text {
  font-size: 18px;
  font-weight: bold;
}

.mainVisual__items_btn {
  padding: 14px 48px;
  -webkit-box-shadow: 0px 3px 5px #3E3E3E33;
          box-shadow: 0px 3px 5px #3E3E3E33;
  border-radius: 10px;
  background-color: #ffaa3b;
  color: #ffffff;
}

/*------------------------------------------*
* news
*------------------------------------------*/
.newsInner {
  background-color: #ffffff;
  height: 665px;
  -webkit-box-shadow: 0px 5px 12px #3E3E3E33;
          box-shadow: 0px 5px 12px #3E3E3E33;
}

.newsInner__contents {
  width: 90%;
  margin: 0 auto;
}

.newsInner__menuTitle {
  text-align: center;
}

.newsInner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.newsInner__borderTop {
  border-top: #cecdcd 1px solid;
}

.newsInner__borderBottom {
  border-bottom: #cecdcd 1px solid;
}

.newsInner__item_day {
  padding-right: 30px;
}

.newsInner__item_text {
  width: 125px;
  border: 2px solid #4973ff;
  border-radius: 30px;
  text-align: center;
}

.newsInner__item_content {
  width: 58%;
  padding-left: 30px;
}

.newsInner__item_arrow {
  padding-left: 40px;
}

.newsInner__btn {
  border: 1px solid #3e3e3e;
  width: 248px;
  height: 64px;
  color: #3e3e3e;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 40px auto;
}

/*------------------------------------------*
* service
*------------------------------------------*/
.serviceInner {
  background-color: #3e3e3e;
  width: 100vw;
  height: 350px;
}

.serviceInner__title {
  text-align: center;
  color: #ffffff;
}

.serviceInner__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 960px;
  height: 321px;
  margin: 0 auto;
}

.serviceInner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 231px;
  height: 211px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*------------------------------------------*
* result
*------------------------------------------*/
.resultInner {
  height: 800px;
  background-color: #3e3e3e;
  margin-left: 10%;
  padding-left: 10%;
}

.resultInner__title {
  color: #ffffff;
}

.resultInner__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resultInner__item {
  background-color: #ffffff;
  height: 368px;
}

.resultInner__item_description {
  padding: 18px;
}

.resultInner__item_descriptionTitle {
  font: Bold 20px/24px "YuGothic";
  color: #3e3e3e;
  padding-bottom: 20px;
}

.resultInner__item_descriptionText {
  font: normal 16px/24px "YuGothic";
  color: #3e3e3e;
}

.swiper-slide {
  cursor: pointer;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
}

.swiper-pagination-bullet {
  padding: 7px;
  margin-right: 15px;
  background: #ffffff !important;
  opacity: 1 !important;
  background: #ffffff !important;
  border: solid 2.5px #3e3e3e;
  box-shadow: 0 0 0 0px #ffffff;
  -webkit-box-shadow: 0 0 0 0px #ffffff;
  -moz-box-shadow: 0 0 0 1px #ffffff;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
  border: solid 2.5px #3e3e3e;
  box-shadow: 0 0 0 0px #ffffff;
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  -moz-box-shadow: 0 0 0 1px #ffffff;
}

.resultInner__btn {
  position: relative;
  top: 18%;
  color: white;
  background-color: #3e3e3e;
  border: solid 1px white;
  font: bold 20px/23px "Montserrat";
  letter-spacing: 4px;
}

/*------------------------------------------*
* price
*------------------------------------------*/
.priceInner {
  width: 960px;
}

.priceInner__title {
  color: #3e3e3e;
  text-align: center;
}

.horizontalTable {
  border: 1px solid #ddd;
}

.horizontalTable__inner {
  width: 100%;
}

.horizontalTable__header {
  width: 30%;
  padding: 20px;
  background-color: #3e3e3e;
  color: #ffffff;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  vertical-align: middle;
}

.horizontalTable__text {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.horizontalTable__row:last-child .horizontalTable__header,
.horizontalTable__row:last-child .horizontalTable__text {
  border-bottom-width: 0;
}

.priceInner__attention {
  padding-top: 24px;
}

/*------------------------------------------*
* comments
*------------------------------------------*/
/*------------------------------------------*
* q&a
*------------------------------------------*/
/*------------------------------------------*
* access
*------------------------------------------*/
/*------------------------------------------*
* contact
*------------------------------------------*/
/*------------------------------------------*
* footer
*------------------------------------------*/
/*------------------------------------------*
* query   
*------------------------------------------*/
/* SE */
/* iPad */
/* PC */
@media screen and (min-width: 1366px) {
  .newsInner,
  .commentsInner,
  .QAInner,
  .accessInner {
    max-width: 1180px;
    margin: 0 auto;
  }
  .priceInner,
  .contactInner,
  .footer {
    max-width: 960px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */