/*------------------------------------------*
* 変数
*------------------------------------------*/
$titlePaddingTopVal: 120px;
$titlePaddingBottomVal: 80px;
$titleFontSize: 60px;
$textFontSize: 16px;

$orange: #ca970b;
$bgColor: #f2f3f8;

$w-pc: 1024px; // PC
$w-tab: $w-pc - 1; // タブレット
$w-sp: 767px; // スマホ

/*------------------------------------------*
* common
*------------------------------------------*/
.center {
    margin: 0 auto;
}

/*------------------------------------------*
* mainVisual
*------------------------------------------*/
.box {
    position: relative;
    overflow: hidden;
}
.fitImg{
    position: absolute;
}
.overlay_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
    background-size: 3px 3px;
    z-index: 2;
}
.overlay_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    margin: auto;
    max-width: 700px;
    width: 100%;
    height: 50px;
    font-size: 24px;
    z-index: 3;
}
.overlay_title {    
    font-size: 40px;
}
.overlay_subTitle {
    top: 150px;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
.scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
  
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
  
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}


/*------------------------------------------*
* global nav
*------------------------------------------*/
$navHeight: 90px;

#global-nav {
    background: #16244edd;
    width: 100%;
    height: $navHeight;
    z-index: 10;
}

#global-nav.m_fixed {
    position: fixed;
    left: 0;
    top: 0;
    height: $navHeight;
}
  
.global-nav_inner {
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
}
  
.global_list {
    display: flex;
    justify-content: center;
    color: #fff;
}

.global_item {    
    display: block;
    width: 200px;
    height: $navHeight;
    line-height: $navHeight;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.global_item_anim {
    position: relative;
    display: inline-block;
    text-decoration: none;
    line-height: 30px;
}

.global_item_anim::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}
.global_item_anim:hover::after {
    transform: scale(1, 1);
}
.global_item_anim:hover {
    opacity: 0.7;
}

#nav_about,
#nav_contact, 
#nav_service,
#nav_works,
#nav_contact
{
    background-color: rgba(202,151,13,0);
    transition: 0.3s;
}

/*------------------------------------------*
* message
*------------------------------------------*/
.message {
    background-color: $bgColor;
    padding-top: $titlePaddingTopVal;
    padding-bottom: 120px;
}

.message_title {
    text-align: center;
    font-size: $titleFontSize;
    padding-bottom: $titlePaddingBottomVal;
}

.message_text {
    text-align: center;
    font-size: 26px;
    color: gray;
    padding-bottom: 28px;
}


/*------------------------------------------*
* about
*------------------------------------------*/
.about_title {
    padding-top: $titlePaddingTopVal;
    padding-bottom: $titlePaddingBottomVal;
    font-size: $titleFontSize;
    text-align: center;
    color: white;
}
.about {
    color: white;
    display: flex;
    padding-bottom: 120px;
    height: auto;
}

.fixed-bg {
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
   
.bg01 {
    background-image: url(../img/desk.jpg);
}
.overlay_bg1 {
    // height: 100vh;
    background-color: #000000cc;
}
.about_profile {
    width: 50%;
}
.about_image {
    height: auto;
    padding-bottom: 30px;
}
.about_me {
    text-align: left;
    padding-left: 30%; 
}
.about_name {
    font-size: 30px;
    font-weight: 700;
    padding-left: 30px;
    color: $orange;
}
.about_job {
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
}
.about_twitter {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 30px;
}

.about_info {
    width: 40%;
}
.about_status_title {
    position: relative;
    right: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #ca970b;
}
.about_status_title::before {
    font-family: "Font Awesome 5 Free";
    content: '\f406';
    position: relative;
    right: 15px;
}
.about_status_text {
    font-size: 20px;
    font-weight: 700;
}
.about_skill_title {
    position: relative;
    right: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #ca970b;
    margin-top: 70px;
}
.about_skill_title::before {
    font-family: "Font Awesome 5 Free";
    content: '\f0ad';
    position: relative;
    right: 15px;
}
.about_skill_items {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding-bottom: 30px;
    width: 500px;
}
.about_skill_item {
    width: 100px;
    font-size: 50px;
    text-align: center;
}
.about_skill_iconText {
    font-size: 10px;
    line-height: 2px;
}

/*------------------------------------------*
* service
*------------------------------------------*/
.service {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: $bgColor;
}
.service_title {
    padding-bottom: $titlePaddingBottomVal;
    font-size: $titleFontSize;
    text-align: center;
    color: black;
}
.service_items {
    display: flex;
    justify-content: center;
}
.service_item {
    width: 40%;
    max-width: 600px;
    height: auto;
    text-align: center;
    padding: 30px 50px;
    margin: 0 20px 50px 20px;
    background-color: white;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
.service_item_icon{
    font-size: 70px;
    padding-bottom: 30px;
}
.service_item_title {
    font-size: 30px;
    font-weight: bold;
}
.service_border {
    width: 60px;
    margin: 0 auto;
    border-bottom: medium solid orange;
}
.service_item_text {
    padding-top: 30px;
    color: gray;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.7;
}

.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}


/*------------------------------------------*
* works
*------------------------------------------*/
.works {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: $bgColor;
}
.works_title {
    padding-bottom: $titlePaddingBottomVal;
    font-size: $titleFontSize;
    text-align: center;
    color: black;
}
.works_items {
    display: flex;
    justify-content: center;
}
.works_item {
    margin: 0 50px 100px 50px;
    text-align: center;
}
.works_frame {
    position: relative;
    width: 500px;
    margin: 2.5em auto;
    padding: 35px 30px 30px;
    background-color: #e8ddbd;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
.works_frame::before {
    display: block;
    position: absolute;
    content: "";
    width: 140px;
    height: 35px;
    left: 40%;
    top: -16px;
    background-color: rgba(204, 186, 136,0.3);/*テープ色*/
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    transform: rotate( -3deg ); /*テープ角度*/
}
.works_text {
    color: gray;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(transparent 50%, #e8ddbd 50%);
}

.img_wrap{
    border: 1px solid #ddd;
    transition-duration: 0.5s;
}
.img_wrap img{
    cursor: pointer;
    transition-duration: 0.3s;
}
.img_wrap:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

#page_top:hover {
    opacity: 0.4;
    transition-duration: 0.3s;
    background: #ca970b;
}

  
/*------------------------------------------*
* contact
*------------------------------------------*/
.contact {
    padding-top: 120px;
    padding-bottom: 140px;
}
.contact_title {
    font-size: $titleFontSize;
    text-align: center;
    color: black;
}
.contact_text {
    color: gray;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
}

.contact-submit {
    width: 30%;
    margin: 0 auto;
}


@mixin pc {

    @media (min-width: ($w-pc)) {
        @content;
    }
}

@mixin tab {

    @media (max-width: ($w-tab)) {
        @content;
    }
}

@mixin sp {

    @media (max-width: ($w-sp)) {
        @content;
    }
}

@mixin contact-form {
    border-radius: 4px;
    outline: none;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    padding: 0.6em 0.8em;
    height: 2.8em;
}

.contact {

    &-form {
        margin: 0 auto;
        max-width: 768px;
    }

    &-title {
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 1.8em;
        line-height: 1.4;
    }

    &-contact {
        margin-bottom: 1em;
        text-align: center;
    }

    &-input {
        margin-bottom: 2em;

        input {

            @include contact-form;
        }
    }

    &-textarea {
        margin-bottom: 3em;

        textarea {

            @include contact-form;
            height: 260px;
        }
    }

    &-submit {
        text-align: center;

        &:hover {
            opacity: 0.6;
        }

        input {
            width: 100%;
            height: 50px;
            background-color: $orange;
            border-radius: 6px;
            color: #fff;
            display: flex;
            font-size: 1.8rem;
            font-weight: 500;
            justify-content: center;
            margin: 0 auto;
        }
    }

    &-dummy {
        display: none;
    }
}

/*------------------------------------------*
* footer
*------------------------------------------*/
.footer {
    background-color: #16244eee;
    text-align: center;
    padding: 10px 0;
}
.footer-icon {
    color: #76d9ff;
    font-size: 40px;
    padding-bottom: 10px;
}
.footer_copyright {
    color: white;
    font-size: 10px;
}

/*------------------------------------------*
* Top Arrow
*------------------------------------------*/
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: orange;
    opacity: 0.6;
}
#page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f062';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}



.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 9999;
    font-size: 27px;
  }
  .animation{
      position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
      -webkit-animation: lodanimetion 1500ms ease-out forwards infinite;
    animation: lodanimetion 1500ms ease-out forwards infinite;
  }
  @keyframes lodanimetion {
    from,to {
          opacity: 0;
    }
    50% {
          opacity: .5;
    }
  }










  

// デバッグ_
.debug {
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: 10000;    
}

@media (min-width: ($w-pc)) {
    // @content;
    .debug {
        background-color: blue;
    }
        
}

@media (max-width: ($w-tab)) {
    // @content;
    .debug {
        background-color: greenyellow;
    }
    
    .about {
        display: block;
    }
    .about_profile {
        margin: 0 auto;
    }
    .about_image {
        margin: 0 auto;
    }
    .about_me {
        text-align: center;
        padding-left: 0; 
    }
    .about_name {
        padding-left: 0;
    }
    .about_job {
        padding-left: 0;
        padding-bottom: 100px;
    }
    .about_info {
        margin: 0 auto;
        width: 50%;
    }
    .about_status_title {
        text-align: center;
        right: 0;
    }
    .about_status_text {
        text-align: center;
        padding-bottom: 50px;
    }
    .about_skill_title {
        text-align: center;
        right: 0;
    }
    .about_skill_items {
        width: 600px;
        margin: 0 auto;
    }

    .service_items {
        display: block;
        margin: 0 auto;
    }
    .service_item {
        width: 100%;
        margin: 50px auto;
    }

    .works_items {
        display: block;
    }

}

@media (max-width: ($w-sp)) {
    // @content;
    .debug {
        background-color: tomato;
    }
}