@charset "UTF-8";
/*------------------------------------------*
* 変数
*------------------------------------------*/
/*------------------------------------------*
* common
*------------------------------------------*/
.center {
  margin: 0 auto;
}

/*------------------------------------------*
* mainVisual
*------------------------------------------*/
.box {
  position: relative;
  overflow: hidden;
}

.fitImg {
  position: absolute;
}

.overlay_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 50%);
  background-size: 3px 3px;
  z-index: 2;
}

.overlay_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  margin: auto;
  max-width: 700px;
  width: 100%;
  height: 50px;
  font-size: 24px;
  z-index: 3;
}

.overlay_title {
  font-size: 40px;
}

.overlay_subTitle {
  top: 150px;
}

/*------------------------------------------*
* global nav
*------------------------------------------*/
#global-nav {
  background: #16244edd;
  width: 100%;
  height: 90px;
  z-index: 10;
}

#global-nav.m_fixed {
  position: fixed;
  left: 0;
  top: 0;
  height: 90px;
}

.global-nav_inner {
  padding-bottom: 0;
  padding-top: 0;
  margin: 0 auto;
}

.global_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.global_item {
  display: block;
  width: 200px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/*------------------------------------------*
* message
*------------------------------------------*/
.message {
  background-color: #f2f3f8;
  padding-top: 120px;
  padding-bottom: 120px;
}

.message_title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 80px;
}

.message_text {
  text-align: center;
  font-size: 26px;
  color: gray;
  padding-bottom: 28px;
}

/*------------------------------------------*
* about
*------------------------------------------*/
.about_title {
  padding-top: 120px;
  padding-bottom: 80px;
  font-size: 60px;
  text-align: center;
  color: white;
}

.about {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
}

.fixed-bg {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.bg01 {
  background-image: url(../img/desk.jpg);
}

.overlay_bg1 {
  height: 100vh;
  background-color: #000000cc;
}

.about_profile {
  width: 50%;
}

.about_image {
  height: auto;
  padding-bottom: 30px;
}

.about_me {
  text-align: left;
  padding-left: 30%;
}

.about_name {
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
  color: #ca970b;
}

.about_job {
  font-size: 20px;
  font-weight: 700;
  padding-left: 30px;
}

.about_twitter {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 30px;
}

.about_info {
  width: 40%;
}

.about_status_title {
  position: relative;
  right: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #ca970b;
}

.about_status_title::before {
  font-family: "Font Awesome 5 Free";
  content: '\f406';
  position: relative;
  right: 15px;
}

.about_status_text {
  font-size: 20px;
  font-weight: 700;
}

.about_skill_title {
  position: relative;
  right: 30px;
  font-size: 30px;
  font-weight: 700;
  color: #ca970b;
  margin-top: 70px;
}

.about_skill_title::before {
  font-family: "Font Awesome 5 Free";
  content: '\f0ad';
  position: relative;
  right: 15px;
}

.about_skill_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.about_skill_item {
  width: 100px;
  font-size: 50px;
  text-align: center;
}

.about_skill_iconText {
  font-size: 10px;
  line-height: 2px;
}

/*------------------------------------------*
* service
*------------------------------------------*/
.service {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f2f3f8;
}

.service_title {
  padding-bottom: 80px;
  font-size: 60px;
  text-align: center;
  color: black;
}

.service_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_item {
  width: 600px;
  height: 410px;
  text-align: center;
  padding: 30px 50px;
  margin: 0 30px 50px 30px;
  background-color: white;
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.service_item_icon {
  font-size: 70px;
  padding-bottom: 30px;
}

.service_item_title {
  font-size: 30px;
  font-weight: bold;
}

.service_border {
  width: 60px;
  margin: 0 auto;
  border-bottom: medium solid orange;
}

.service_item_text {
  padding-top: 30px;
  color: gray;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.7;
}

/*------------------------------------------*
* works
*------------------------------------------*/
.works {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f2f3f8;
}

.works_title {
  padding-bottom: 80px;
  font-size: 60px;
  text-align: center;
  color: black;
}

.works_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works_item {
  margin: 0 10px 100px 10px;
  text-align: center;
}

.works_frame {
  position: relative;
  width: 90%;
  margin: 2.5em auto;
  padding: 35px 30px 20px;
  background-color: #e8ddbd;
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.works_frame::before {
  display: block;
  position: absolute;
  content: "";
  width: 140px;
  height: 35px;
  left: 40%;
  top: -16px;
  background-color: rgba(204, 186, 136, 0.3);
  /*テープ色*/
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  /*テープ角度*/
}

.works_text {
  color: gray;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #e8ddbd));
  background: linear-gradient(transparent 50%, #e8ddbd 50%);
}

/*------------------------------------------*
* contact
*------------------------------------------*/
.contact {
  padding-top: 120px;
  padding-bottom: 140px;
}

.contact_title {
  font-size: 60px;
  text-align: center;
  color: black;
}

.contact_text {
  color: gray;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.inner {
  margin: 0 auto;
  max-width: 1024px;
}

.main {
  background-color: #9ebfc0;
}

.main-inner {
  padding: 3em 0 5em;
}

@media (max-width: 1023px) {
  .main-inner {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.contact-form {
  margin: 0 auto;
  max-width: 768px;
}

.contact-title {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1.8em;
  line-height: 1.4;
}

.contact-contact {
  margin-bottom: 1em;
  text-align: center;
}

.contact-input {
  margin-bottom: 2em;
}

.contact-input input {
  border-radius: 4px;
  outline: none;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  padding: 0.6em 0.8em;
  height: 2.8em;
}

.contact-textarea {
  margin-bottom: 3em;
}

.contact-textarea textarea {
  border-radius: 4px;
  outline: none;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  padding: 0.6em 0.8em;
  height: 2.8em;
  height: 260px;
}

.contact-submit {
  text-align: center;
}

.contact-submit:hover {
  opacity: 0.6;
}

.contact-submit input {
  width: 40%;
  height: 50px;
  background-color: #ca970b;
  border-radius: 6px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.contact-dummy {
  display: none;
}

/*------------------------------------------*
* footer
*------------------------------------------*/
.footer {
  background-color: #16244eee;
  text-align: center;
  padding: 10px 0;
}

.footer-icon {
  color: #76d9ff;
  font-size: 40px;
  padding-bottom: 10px;
}

.footer_copyright {
  color: white;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */