/*------------------------------------------*
* import
*------------------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*------------------------------------------*
* 変数
*------------------------------------------*/
$titlePaddingTopVal: 12rem;
$titlePaddingBottomVal: 4rem;
$titleFontSize: 5rem;
$textFontSize: 16px;
$titleSpacing: 0.05em;

$orange: #e5ab47;
$bgColor: #e2f3e888;
$barColor: #147472dd;

$w-pc: 1024px;      // PC
$w-tab: $w-pc - 1;  // タブレット
$w-sp: 768px;       // スマホ

$comicFont: "Comic Sans MS", sans-serif;


/*------------------------------------------*
* メディアクエリ
*------------------------------------------*/
@mixin pc {
    @media (min-width: ($w-pc)) {
        @content;
    }
}

@mixin tab {
    @media (max-width: ($w-tab)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($w-sp)) {
        @content;
    }
}

/*------------------------------------------*
* html
*------------------------------------------*/
// 2rem = 20px
// 1.4rem = 14px
html {
    font-size: 62.5%;
}

/*------------------------------------------*
* body
*------------------------------------------*/
body {
    font-family: 'Noto Sans Japanese', sans-serif;
}

/*------------------------------------------*
* mainVisual
*------------------------------------------*/
.box {
    position: relative;
    overflow: hidden;
}

.fitImg{
    position: absolute;
}

.resizeImage { 
    width: 100%;
    height: 100vh;
}

.pickColor{
    color: $orange;
}

.showPC {
    @include pc {
        display: block !important;
    }
    @include tab {
        display: block !important;
    }
    @include sp {
        display: none !important;
    }
}

.showMobile {

    &_title {
        margin: 0 auto;
        color: white;
        width: 350px;
        position: absolute;
        top: 20%;
        bottom: 0;
        right: 20px;
        left: 0;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        text-shadow: 2px 3px 4px #808080;
    }

    &_subTitle {
        color: #eeeeee;
        position: absolute;
        top: calc(20% + 90px);
        bottom: 0;
        right: 20px;
        left: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.05em;
        text-shadow: 2px 3px 4px #808080;    
    }
    
    @include pc {
        display: none !important;
    }
    @include tab {
        display: none !important;
    }
    @include sp {
        display: block !important;

        &-title {
            font-size: 3rem;
        }
    }
}

.overlay {
    $shadow: 2px 3px 4px #222222;

    &_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
        background-size: 3px 3px;
        z-index: 2;
    }

    &_text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        margin: auto;
        max-width: 700px;
        width: 100%;
        height: 100px;
        z-index: 3;    
    }

    &_title {
        font-size: 5rem;
        letter-spacing: 0.05em;
        text-shadow: $shadow;
    }

    &_subTitle {
        top: 160px;
        font-size: 2.5rem;
        letter-spacing: 0.1em;
        text-shadow: $shadow;
    }

}

.scroll {

    // スクロールダウン示唆のサークル部分_
    &_down {
        position: absolute;
        bottom: 50px;
        left: 50%;
        margin-left: -16px;
        display: block;
        width: 50px;
        height: 50px;
        border: 2px solid white;
        background-size: 14px auto;
        border-radius: 50%;
        z-index: 2;
        -webkit-animation: bounce 2s infinite 2s;
        animation: bounce 2s infinite 2s;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
    }
    
    &_down:before {
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 6px);
        transform: rotate(-45deg);
        display: block;
        width: 12px;
        height: 12px;
        content: "";
        border: 2px solid white;
        border-width: 0px 0 2px 2px;
    }
}
  
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}


/*------------------------------------------*
* global nav
*------------------------------------------*/
$navHeight: 70px;

#global-nav {
    background: $barColor;
    width: 100%;
    height: $navHeight;
    z-index: 10;
}

#global-nav.m_fixed {
    position: fixed;
    left: 0;
    top: 0;
    height: $navHeight;
}
  
.global-nav_inner {
    padding-bottom: 0;
    padding-top: 0;
    margin: 0 auto;
}
  
.global_list {
    display: flex;
    justify-content: center;
    color: #fff;

    @include sp {
        display: none;
    }
}

.global_item {    
    display: block;
    width: 200px;
    height: $navHeight;
    line-height: $navHeight;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.global_item_anim {
    position: relative;
    display: inline-block;
    text-decoration: none;
    line-height: 30px;
    text-shadow: 1px 2px 3px #222222;
    letter-spacing: 0.1em;
}

.global_item_anim::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}
.global_item_anim:hover::after {
    transform: scale(1, 1);
}
.global_item_anim:hover {
    opacity: 0.7;
}

#nav_about,
#nav_contact, 
#nav_service,
#nav_works,
#nav_contact
{
    background-color: rgba(202,151,13,0);
    transition: 0.3s;
}

.global_name {

    @include pc {
        visibility: hidden;
    }

    @include tab {
        visibility: hidden;
    }

    @include sp {
        visibility: visible;
        color: white;
        font-size: 24px;
        position: absolute;
        line-height: 70px;
        padding-left: 30px;
    }
}


/*------------------------------------------*
* message
*------------------------------------------*/
.message {
    background-color: $bgColor;
    padding-top: 100px;
    padding-bottom: 100px;

    &_title {
        text-align: center;
        font-size: $titleFontSize;
        padding-bottom: $titlePaddingBottomVal;
        font-family: $comicFont;
        letter-spacing: $titleSpacing;    
    }

    &_text {
        text-align: center;
        font-size: 2rem;
        color: gray;
        padding-bottom: 28px;
    }
}


/*------------------------------------------*
* about
*------------------------------------------*/
.about_title {
    padding-top: 100px;
    padding-bottom: $titlePaddingBottomVal;
    font-size: $titleFontSize;
    text-align: center;
    color: white;
    font-family: $comicFont;
    letter-spacing: $titleSpacing;
}
.fixed-bg {
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.bg01 {
    background-image: url(../img/desk.jpg);
}
.overlay_bg1 {
    background-color: #000000cc;
}

.about {
    color: white;
    display: flex;
    height: auto;
    min-height: 750px;

    &_profile {
        width: 50%;
    }

    &_image {
        height: auto;
        padding-bottom: 30px;
    }

    &_me {
        text-align: left;
        padding-left: 30%;
    }

    &_name {
        font-size: 3rem;
        font-weight: 700;
        padding-left: 30px;
        color: $orange;
    }

    &_job {
        font-size: 2rem;
        font-weight: 700;
        padding-left: 30px;
    }

    &_info {
        width: 40%;
    }

    &_status_title {
        position: relative;
        right: 30px;
        font-size: 3rem;
        font-weight: 700;
        color: $orange;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: '\f406';
            position: relative;
            right: 15px;    
        }
    }

    &_status_text {
        font-size: 2rem;
        line-height: 30px;
        letter-spacing: 0.1em;    
    }

    &_skill_title {
        position: relative;
        right: 30px;
        font-size: 30px;
        font-weight: 700;
        color: $orange;
        margin-top: 60px;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: '\f0ad';
            position: relative;
            right: 15px;        
        }
    }

    &_skill_items {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        padding-bottom: 30px;
        width: 500px;
    }

    &_skill_item {
        width: 100px;
        font-size: 5rem;
        text-align: center;
    }

    &_skill_iconText {
        font-size: 1rem;
        line-height: 2px;
    }
}


/*------------------------------------------*
* service
*------------------------------------------*/
.service {
    padding-top: $titlePaddingTopVal;
    padding-bottom: 100px;
    background-color: $bgColor;

    &_title {
        padding-bottom: $titlePaddingBottomVal;
        font-size: $titleFontSize;
        text-align: center;
        color: black;
        font-family: $comicFont;
        letter-spacing: $titleSpacing;
    }

    &_items {
        display: flex;
        justify-content: center; 
    }

    &_item {
        max-width: 350px;
        height: auto;
        text-align: center;
        padding: 30px 50px;
        margin: 50px 30px 50px 30px;
        background-color: white;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
        
        &_icon {
            font-size: 6rem;
            padding-bottom: 30px;    
        }

        &_title {
            font-size: 2.5rem;
            font-weight: bold;
        }

        &_text {
            padding-top: 30px;
            color: gray;
            text-align: left;
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 0.1em;
            line-height: 1.7;
        }
    }

    &_border {
        width: 60px;
        margin: 0 auto;
        border-bottom: medium solid $orange;    
    }
}

.fadein {
    opacity : 0;
    transform: translateY(20px);
    transition: all 1s;
}


/*------------------------------------------*
* works
*------------------------------------------*/
.works {
    padding-top: $titlePaddingTopVal;
    padding-bottom: $titlePaddingBottomVal;
    background-color: $bgColor;

    &_title {
        padding-bottom: $titlePaddingBottomVal;
        font-size: $titleFontSize;
        text-align: center;
        color: black;
        font-family: $comicFont;
        letter-spacing: $titleSpacing;
    }

    &_items {
        display: flex;
        justify-content: center;
    }

    &_item {
        margin: 0 50px 100px 50px;
        text-align: center;
    }

    &_frame {
        position: relative;
        max-width: 480px;
        max-height: 400px;
        margin: 2.5em auto;
        padding: 35px 30px 30px;
        background-color: #e8ddbd;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));

        &::before {
            display: block;
            position: absolute;
            content: "";
            width: 140px;
            height: 35px;
            left: 40%;
            top: -16px;
            background-color: rgba(204, 186, 136,0.3);/*テープ色*/
            box-shadow: 0 0 3px rgba(0,0,0,0.1);
            transform: rotate( -3deg ); /*テープ角度*/        
        }
    }

    &_text {
        color: gray;
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        background: linear-gradient(transparent 50%, #e8ddbd 50%);    
    }

}

.img_wrap{
    border: 1px solid #ddd;
    transition-duration: 0.5s;
}
.img_wrap img{
    cursor: pointer;
    transition-duration: 0.3s;
}
.img_wrap:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-10px);
    transition-duration: 0.5s;
}

#page_top:hover {
    opacity: 0.4;
    transition-duration: 0.3s;
    background: $orange;
}

  
/*------------------------------------------*
* contact
*------------------------------------------*/
@mixin contact-form {
    border-radius: 4px;
    outline: none;
    width:  80%;
    max-width: 80%;
    background-color: #fff;
    padding: 0.6em 0.8em;
    height: 2.8em;
}

.contact {
    padding-top: 140px;
    padding-bottom: 140px;
    text-align: center;
    margin: 0 auto;

    &_title {
        font-size: $titleFontSize;
        text-align: center;
        color: black;
        font-family: $comicFont;
        letter-spacing: $titleSpacing;    
    }

    &_text {
        color: gray;
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 100px;
    }

    &-form {
        margin: 0 auto;
        max-width: 768px;
    }

    &-title {
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 1.8em;
        line-height: 1.4;
    }

    &-contact {
        margin-bottom: 1em;
        text-align: center;
    }

    &-input {
        margin-bottom: 2em;

        input {
            @include contact-form;
        }
    }

    &-textarea {
        margin-bottom: 3em;

        textarea {

            @include contact-form;
            height: 260px;
        }
    }

    &-submit {
        text-align: center;
        width: 30%;
        margin: 0 auto;

        &:hover {
            opacity: 0.6;
        }

        input {
            width: 100%;
            height: 50px;
            background-color: $orange;
            border-radius: 6px;
            color: #fff;
            display: flex;
            font-size: 1.8rem;
            font-weight: 500;
            justify-content: center;
            margin: 0 auto;
        }
    }

    &-dummy {
        display: none;
    }
}


/*------------------------------------------*
* footer
*------------------------------------------*/
.footer {
    background-color: $barColor;
    text-align: center;
    padding: 10px 0;

    &-icon {
        color: #76d9ff;
        font-size: 40px;
        padding-bottom: 10px;

        &:hover {
            opacity: 0.7;
        }
    }

    &_copyright {
        color: white;
        font-size: 10px;
    }
}


/*------------------------------------------*
* Top Arrow
*------------------------------------------*/
#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: $orange;
    opacity: 0.6;

    a {
        // background-color: black;
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        text-decoration: none;

        &::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            content: '\f062';
            font-size: 25px;
            color: #fff;
            position: absolute;
            width: 25px;
            height: 25px;
            top: 0;
            bottom: 10px;
            right: 0;
            left: 0;
            margin: auto;
            text-align: center;
        }
    }
}

/*------------------------------------------*
* loading
*------------------------------------------*/
.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 9999;
    font-size: 27px;
}
.animation{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    -webkit-animation: lodanimetion 1500ms ease-out forwards infinite;
    animation: lodanimetion 1500ms ease-out forwards infinite;
}
@keyframes lodanimetion {
    from,to {
          opacity: 0;
    }
    50% {
          opacity: .5;
    }
}

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn {
    z-index: 10000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
    margin-left: auto;
    margin-right: 30px;
    position: relative;
    top: 10px;

    @include pc {
        visibility: hidden;
    }
    @include tab {
        visibility: hidden;
    }
    @include sp {
        visibility: visible;
    }
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($color: #000000, $alpha: 0.8);

    &__item {
        width: 100%;
        height: auto;
        padding: .5em 1em;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
    }

    @include pc {
        visibility: hidden;
    }
    @include tab {
        visibility: hidden;
    }
    @include sp {
        visibility: visible;
    }
}


  
/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu{
    transform: translateX(100vw);
    transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
    transform: translateX(0);
}



@media (max-width: ($w-tab)) {
    .about {
        display: block;
        padding-bottom: 100px;
    }
    .about_profile {
        margin: 0 auto;
    }
    .about_image {
        margin: 0 auto;
    }
    .about_me {
        text-align: center;
        padding-left: 0; 
    }
    .about_name {
        padding-left: 0;
    }
    .about_job {
        padding-left: 0;
        padding-bottom: 100px;
    }
    .about_info {
        margin: 0 auto;
        width: 500px;
    }
    .about_status_title {
        text-align: center;
        right: 0;
    }
    .about_status_text {
        text-align: left;
        padding-bottom: 50px;
        padding-left: 40px;
    }
    .about_skill_title {
        text-align: center;
        right: 0;
    }
    .about_skill_items {
        width: 600px;
        margin: 0 auto;
    }

    .service_items {
        display: block;
        margin: 0 auto;
    }
    .service_item {
        width: 100%;
        margin: 50px auto;
    }

    .works_items {
        display: block;
    }

    .contact {
        width: 700px;
        margin: 0 auto;
    }

}

@media (max-width: ($w-sp)) {

    .message_text {
        font-size: 1.2rem;
    }

    .about {
        width: 350px;
        margin: 0 auto;
    }
    .about_name {
        font-size: 2.5rem;
    }
    .about_job {
        font-size: 1.2rem;
    }
    .about_info {
        width: 350px;
    }
    .about_status_text {
        font-size: 1.5rem;
        padding: 0 50px;
    }
    .about_skill_items {
        width: 300px;
    }
    .about_skill_item {
        width: 60px;
        font-size: 3rem;
    }

    .service_item_title {
        font-size: 1.5rem;
    }
    .service_item {
        width: 200px;
        margin: 50px auto;
    }
    .service_item_text {
        font-size: 1rem;
    }

    .works_frame {
        width: 230px;
        height: 230px;
    }
    .works_frame::before {
        left: 27%;
        top: -16px;
    }
    .img_wrap img {
        width: 230px;
        height: 230px;
    }
    .works_text {
        font-size: 1.5rem;
    }

    .contact {
        width: 350px;
        text-align: center;
    }
}