/*------------------------------------------*
* 変数
*------------------------------------------*/
$w-pc: 1200px;  // PC
$w-tab: 1199px;  // タブレット
$w-sp: 768px;   // スマホ


$white: #ffffff;
$black: #333333;
$brown: #421f15;
$orange: #c63205;


/*------------------------------------------*
* メディアクエリ
*------------------------------------------*/
@mixin pc {
    @media (min-width: ($w-pc)) {
        @content;
    }
}

@mixin tab {
    @media (max-width: ($w-tab)) {
        @content;
    }
}

@mixin sp {
    @media (max-width: ($w-sp)) {
        @content;
    }
}


/*------------------------------------------*
* html
*------------------------------------------*/
// 2rem = 20px
// 1.4rem = 14px
html {
    font-size: 62.5%;
}

/*------------------------------------------*
* body
*------------------------------------------*/
body {
    font-family: 'system-ui', 'ヒラギノ角ゴ Pro W3', sans-serif !important;

    p {
        margin: 0;
    }
}

/*------------------------------------------*
* common
*------------------------------------------*/
.com_hover {
    transition : 0.3s;
    opacity: 0.8;
}

.com_btn {
    color: $white;
    background-color: $orange;
    border-color: $orange;
    width: 200px;
    height: 60px;
    font-size: 1.4rem;

    &:hover {
        transition : 0.3s;
        opacity: 0.8;
    }
}

.com_title {
    font-size: 4.3rem;
    padding: 30px 0;

    @include tab {
        font-size: 3.8rem;
    }
    @include sp {
        font-size: 2.8rem;
    }
}

/*------------------------------------------*
* container
*------------------------------------------*/
.container {
    max-width: 810px;
    padding: 0 !important;
}


/*------------------------------------------*
* home
*------------------------------------------*/
#home li a {
    text-decoration: none;
    color: $black;
    font-size: 2.2rem;
}
#home li p:hover {
    transition : 0.3s;
    opacity: 0.8;
}

nav {
    text-align: center;
    padding-top: 25px;

    li {
        list-style: none;
        display: inline-block;
        margin-right: 30px;
    }

    @mixin rubyParam {
        font-size: 1.2rem;
        display: block;
        margin-bottom: -6px;    // 位置調整
        @content;
    }

    .navTop::before {
        content: "トップ";
        @include rubyParam;
    }

    .navNews::before {
        content: "ニュース";
        @include rubyParam;
    }

    .navStory::before {
        content: "ストーリー";
        @include rubyParam;
    }

    .navComments::before {
        content: "著名人コメント";
        @include rubyParam;
    }

    .navCast::before {
        content: "キャスト";
        @include rubyParam;
    }

    .navInquiry::before {
        content: "問い合わせ";
        @include rubyParam;
    }
}

.home {
    background:url(../img/com_bg.png) center/cover no-repeat;
    padding-bottom: 60px;

    .top {
        $topHeight: 520px;

        background:url(../img/top/top.png) center no-repeat; 
        background-size: cover;
        height: $topHeight;
        color: $white;
        z-index: 10;

        .container {
            text-align: center;
            height: $topHeight;
            position: relative;

            .subTitle {
                padding-top: 60px;
                font-size: 4rem;
                @include tab {
                    font-size: 2.5rem;
                }

                @include sp {
                    font-size: 1.8rem;
                }
            }

            h2 {
                font-size: 11rem;
                font-weight: 700;

                @include tab {
                    font-size: 7rem;
                }

                @include sp {
                    font-size: 5rem;
                }
            }

            .day {
                font-size: 4rem;
                max-width: 290px;
                line-height: 45px;

                position: absolute;
                bottom: 10%;
                left: 0;

                @include tab {
                    font-size: 3rem;
                }

                @include sp {
                    position: relative;
                    bottom: auto;
                    margin: 10% auto;
                }
            }

            .text {
                max-width: 350px;
                font-size: 1.4rem;

                position: absolute;
                bottom: 10%;
                right: 0;

                @include sp {
                    position: relative;
                    padding-top: 2%;
                    margin: 0 auto;
                    max-width: 80%;
                }
            }

            .font_bold {
                font-weight: bold;       
            }

            .button {
                position: absolute;
                bottom: -6%;
                right: 0;
                
                @include sp {
                    bottom: -4%;
                }
            }
            
            .com_btn {
                @include sp {
                    height: 40px;
                }
            }
            
        }
    }
}


/*------------------------------------------*
* introduction
*------------------------------------------*/
.introduction {
    background:url(../img/com_bg.png) center/cover no-repeat;
    padding-bottom: 60px;

    .container {
        background-color: $white;
        // height: 350px;
        background: rgba(255,255,255,0.3);
        position: relative;

        .subTitle {
            font-size: 3.4rem;
            @include tab {
                font-size: 2.5rem;
            }
            @include sp {
                font-size: 2rem;
            }
        }

        .image {
            background:url(../img/top/introduction.png) center no-repeat;
            width: 230px;
            height: 207px;
            position: absolute;
            top: 0;

            @include tab {
                width: 200px;
                height: 177px;
            }
            @include sp {
                width: 130px;
                height: 107px;
            }
        }

        .column {
            column-count: 2;
            font-size: 1.2rem;
            max-width: 750px;
            margin: 0 auto;
            line-height: 21px;
            padding-bottom: 20px;

            @include tab {
                width: 80%;
                padding-top: 30px;
                font-size: 1.5rem;
            }

            @include sp {
                column-count: 1;
                width: 90%;
                padding-top: 30px;
                font-size: 1.5rem;
            }
        }

    }
    
}


/*------------------------------------------*
* movie
*------------------------------------------*/
.movie {
    background:url(../img/com_bg.png) center/cover no-repeat;
   
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/*------------------------------------------*
* news
*------------------------------------------*/
.news {
    background:url(../img/com_bg.png) center/cover no-repeat;
    padding-bottom: 60px;

    .container {
        position: relative;

        .button {
            position: absolute;
            top: 4%;
            right: 0;
        }

        .com_btn {
            width: 120px;
            height: 40px;
        }

        .card {
            margin-bottom: 30px;
            &-body {
                height: 120px;
            }
        }

        .card_day {
            color: gray;
            font-size: 1.2rem;
        }
        .card_title {
            font-size: 1.6rem;
        }

        .side_card {
            background-color: $white;

            .text {
                padding: 15px;
            }

            img {
                height: 88px; 
            }

            @include sp {
                margin-bottom: 30px;
            }
        }
    }
}

/*------------------------------------------*
* story
*------------------------------------------*/
.story {
    background:url(../img/top/story.png) center/cover no-repeat;
    padding-bottom: 60px;
    color: $white;

    &_text {
        width: 40%;
        font-size: 1.2rem;
        line-height: 2;        
        

        @include pc {
            margin-left: auto;
        }
        @include tab {
            margin-left: auto;        
        }
        @include sp {
            margin: 0 auto;
            width: 70%;
            font-size: 1.5rem;
        }
    }

    .com_btn {
        width: 115px;
        height: 35px;
    }
    .button {
        @include pc {
            text-align: right;
        }
        @include tab {
            text-align: right;        
        }
        @include sp {
            text-align: center;
        }
    }
}

/*------------------------------------------*
* comments
*------------------------------------------*/
.comments {
    background:url(../img/com_bg.png) center/cover no-repeat;
    padding: 60px 0;

    .container {

        .title_text {
            font-size: 2.4rem;
            font-weight: bold;
            padding-bottom: 15px;

            @include sp {
                font-size: 2rem;
            }
        }
    }

    &_image {
        background:url(../img/top/comments.png) center/cover no-repeat;
        color: $white;
        height: 215px;
        position: relative;

        .info {
            width: 50%;
            position: absolute;
            top: 50%;
            -webkit-transform : translateY(-50%);
            transform : translateY(-50%);;
            margin-left: 30px;

            .position {
                font-size: 2rem;
            }
            .name {
                font-size: 2.6rem;
            }
            .text {
                font-size: 1.4rem;
            }
        }
        .com_btn {
            position: absolute;
            right: 0;
            bottom: 0;
            margin-right: 2%;
            margin-bottom: 2%;
            width: 115px;
            height: 35px;
        }
    }


}

/*------------------------------------------*
* cast
*------------------------------------------*/
.cast {
    padding-bottom: 30px;

    .container {
        @include sp {
            width: 80%;
        }
    }

    .cast_bg {
        background:url(../img/com_bg.png) center/cover no-repeat;
        width: 100%;
        height: 180px;
        position: absolute;
        z-index: -1;
    }

    .item {
        text-align:center;

        img {
            margin-bottom: 38px;
        }
        .work {
            font-size: 1.6rem;
        }
        .job {
            color: gray;
        }
        .name {
            font-size: 1.8rem;
            font-weight: bold;
        }
        .text {
            color: gray;
            text-align: left;
            font-size: 1.2rem;
            line-height: 1.8;

            @include sp {
                padding-bottom: 60px;
                font-size: 1.5rem;
            }
        }
    }

    .btn-flat-border {
        width: 115px;
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: $orange;
        border: solid 5px $orange;
        transition: .4s;
      }
      

}

/*------------------------------------------*
* schedule
*------------------------------------------*/
.schedule {
    background:url(../img/com_bg.png) center/cover no-repeat;
    padding: 60px 0;
    
    .container {
        background-color: $white;
        background: rgba(255,255,255,0.3);
        position: relative;
        margin-bottom: 30px;
        .com_title {
            padding: 30px 0;
        }

        .menu {
            padding-bottom: 60px;
        }

        .item {
            width: 70%;
            font-size: 2rem;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            @include sp {
                width: 80%;
                font-size: 1.2rem;
            }
        }
    }

    .button {
        text-align: center;
    }   

    .inquiry {
        background-color: $brown;
        border-color: $brown;
        margin-right: 15px;
    }
    .reserve {
        margin-left: 15px;
        border-color: $orange;
    }
}

/*------------------------------------------*
* copyright
*------------------------------------------*/
.copyright {
    padding: 33px 0;
    background-color: $black;
    color: white;
}

