@charset "UTF-8";
/*------------------------------------------*
* 変数
*------------------------------------------*/
/*------------------------------------------*
* メディアクエリ
*------------------------------------------*/
/*------------------------------------------*
* html
*------------------------------------------*/
html {
  font-size: 62.5%;
}

/*------------------------------------------*
* body
*------------------------------------------*/
body {
  font-family: 'system-ui', 'ヒラギノ角ゴ Pro W3', sans-serif !important;
}

body p {
  margin: 0;
}

/*------------------------------------------*
* common
*------------------------------------------*/
.com_hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}

.com_btn {
  color: #ffffff;
  background-color: #c63205;
  border-color: #c63205;
  width: 200px;
  height: 60px;
  font-size: 1.4rem;
}

.com_btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}

.com_title {
  font-size: 4.3rem;
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .com_title {
    font-size: 3.8rem;
  }
}

@media (max-width: 768px) {
  .com_title {
    font-size: 2.8rem;
  }
}

/*------------------------------------------*
* container
*------------------------------------------*/
.container {
  max-width: 810px;
  padding: 0 !important;
}

/*------------------------------------------*
* home
*------------------------------------------*/
#home li a {
  text-decoration: none;
  color: #333333;
  font-size: 2.2rem;
}

#home li p:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.8;
}

nav {
  text-align: center;
  padding-top: 25px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav .navTop::before {
  content: "トップ";
  font-size: 1.2rem;
  display: block;
  margin-bottom: -6px;
}

nav .navNews::before {
  content: "ニュース";
  font-size: 1.2rem;
  display: block;
  margin-bottom: -6px;
}

nav .navStory::before {
  content: "ストーリー";
  font-size: 1.2rem;
  display: block;
  margin-bottom: -6px;
}

nav .navComments::before {
  content: "著名人コメント";
  font-size: 1.2rem;
  display: block;
  margin-bottom: -6px;
}

nav .navCast::before {
  content: "キャスト";
  font-size: 1.2rem;
  display: block;
  margin-bottom: -6px;
}

nav .navInquiry::before {
  content: "問い合わせ";
  font-size: 1.2rem;
  display: block;
  margin-bottom: -6px;
}

.home {
  background: url(../img/com_bg.png) center/cover no-repeat;
  padding-bottom: 60px;
}

.home .top {
  background: url(../img/top/top.png) center no-repeat;
  background-size: cover;
  height: 520px;
  color: #ffffff;
  z-index: 10;
}

.home .top .container {
  text-align: center;
  height: 520px;
  position: relative;
}

.home .top .container .subTitle {
  padding-top: 60px;
  font-size: 4rem;
}

@media (max-width: 1199px) {
  .home .top .container .subTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .home .top .container .subTitle {
    font-size: 1.8rem;
  }
}

.home .top .container h2 {
  font-size: 11rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .home .top .container h2 {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .home .top .container h2 {
    font-size: 5rem;
  }
}

.home .top .container .day {
  font-size: 4rem;
  max-width: 290px;
  line-height: 45px;
  position: absolute;
  bottom: 10%;
  left: 0;
}

@media (max-width: 1199px) {
  .home .top .container .day {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .home .top .container .day {
    position: relative;
    bottom: auto;
    margin: 10% auto;
  }
}

.home .top .container .text {
  max-width: 350px;
  font-size: 1.4rem;
  position: absolute;
  bottom: 10%;
  right: 0;
}

@media (max-width: 768px) {
  .home .top .container .text {
    position: relative;
    padding-top: 2%;
    margin: 0 auto;
    max-width: 80%;
  }
}

.home .top .container .font_bold {
  font-weight: bold;
}

.home .top .container .button {
  position: absolute;
  bottom: -6%;
  right: 0;
}

@media (max-width: 768px) {
  .home .top .container .button {
    bottom: -4%;
  }
}

@media (max-width: 768px) {
  .home .top .container .com_btn {
    height: 40px;
  }
}

/*------------------------------------------*
* introduction
*------------------------------------------*/
.introduction {
  background: url(../img/com_bg.png) center/cover no-repeat;
  padding-bottom: 60px;
}

.introduction .container {
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
}

.introduction .container .subTitle {
  font-size: 3.4rem;
}

@media (max-width: 1199px) {
  .introduction .container .subTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .introduction .container .subTitle {
    font-size: 2rem;
  }
}

.introduction .container .image {
  background: url(../img/top/introduction.png) center no-repeat;
  width: 230px;
  height: 207px;
  position: absolute;
  top: 0;
}

@media (max-width: 1199px) {
  .introduction .container .image {
    width: 200px;
    height: 177px;
  }
}

@media (max-width: 768px) {
  .introduction .container .image {
    width: 130px;
    height: 107px;
  }
}

.introduction .container .column {
  -webkit-column-count: 2;
          column-count: 2;
  font-size: 1.2rem;
  max-width: 750px;
  margin: 0 auto;
  line-height: 21px;
  padding-bottom: 20px;
}

@media (max-width: 1199px) {
  .introduction .container .column {
    width: 80%;
    padding-top: 30px;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .introduction .container .column {
    -webkit-column-count: 1;
            column-count: 1;
    width: 90%;
    padding-top: 30px;
    font-size: 1.5rem;
  }
}

/*------------------------------------------*
* movie
*------------------------------------------*/
.movie {
  background: url(../img/com_bg.png) center/cover no-repeat;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.movie iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*------------------------------------------*
* news
*------------------------------------------*/
.news {
  background: url(../img/com_bg.png) center/cover no-repeat;
  padding-bottom: 60px;
}

.news .container {
  position: relative;
}

.news .container .button {
  position: absolute;
  top: 4%;
  right: 0;
}

.news .container .com_btn {
  width: 120px;
  height: 40px;
}

.news .container .card {
  margin-bottom: 30px;
}

.news .container .card-body {
  height: 120px;
}

.news .container .card_day {
  color: gray;
  font-size: 1.2rem;
}

.news .container .card_title {
  font-size: 1.6rem;
}

.news .container .side_card {
  background-color: #ffffff;
}

.news .container .side_card .text {
  padding: 15px;
}

.news .container .side_card img {
  height: 88px;
}

@media (max-width: 768px) {
  .news .container .side_card {
    margin-bottom: 30px;
  }
}

/*------------------------------------------*
* story
*------------------------------------------*/
.story {
  background: url(../img/top/story.png) center/cover no-repeat;
  padding-bottom: 60px;
  color: #ffffff;
}

.story_text {
  width: 40%;
  font-size: 1.2rem;
  line-height: 2;
}

@media (min-width: 1200px) {
  .story_text {
    margin-left: auto;
  }
}

@media (max-width: 1199px) {
  .story_text {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .story_text {
    margin: 0 auto;
    width: 70%;
    font-size: 1.5rem;
  }
}

.story .com_btn {
  width: 115px;
  height: 35px;
}

@media (min-width: 1200px) {
  .story .button {
    text-align: right;
  }
}

@media (max-width: 1199px) {
  .story .button {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .story .button {
    text-align: center;
  }
}

/*------------------------------------------*
* comments
*------------------------------------------*/
.comments {
  background: url(../img/com_bg.png) center/cover no-repeat;
  padding: 60px 0;
}

.comments .container .title_text {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .comments .container .title_text {
    font-size: 2rem;
  }
}

.comments_image {
  background: url(../img/top/comments.png) center/cover no-repeat;
  color: #ffffff;
  height: 215px;
  position: relative;
}

.comments_image .info {
  width: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 30px;
}

.comments_image .info .position {
  font-size: 2rem;
}

.comments_image .info .name {
  font-size: 2.6rem;
}

.comments_image .info .text {
  font-size: 1.4rem;
}

.comments_image .com_btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 2%;
  margin-bottom: 2%;
  width: 115px;
  height: 35px;
}

/*------------------------------------------*
* cast
*------------------------------------------*/
.cast {
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .cast .container {
    width: 80%;
  }
}

.cast .cast_bg {
  background: url(../img/com_bg.png) center/cover no-repeat;
  width: 100%;
  height: 180px;
  position: absolute;
  z-index: -1;
}

.cast .item {
  text-align: center;
}

.cast .item img {
  margin-bottom: 38px;
}

.cast .item .work {
  font-size: 1.6rem;
}

.cast .item .job {
  color: gray;
}

.cast .item .name {
  font-size: 1.8rem;
  font-weight: bold;
}

.cast .item .text {
  color: gray;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .cast .item .text {
    padding-bottom: 60px;
    font-size: 1.5rem;
  }
}

.cast .btn-flat-border {
  width: 115px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #c63205;
  border: solid 5px #c63205;
  -webkit-transition: .4s;
  transition: .4s;
}

/*------------------------------------------*
* schedule
*------------------------------------------*/
.schedule {
  background: url(../img/com_bg.png) center/cover no-repeat;
  padding: 60px 0;
}

.schedule .container {
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.3);
  position: relative;
  margin-bottom: 30px;
}

.schedule .container .com_title {
  padding: 30px 0;
}

.schedule .container .menu {
  padding-bottom: 60px;
}

.schedule .container .item {
  width: 70%;
  font-size: 2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .schedule .container .item {
    width: 80%;
    font-size: 1.2rem;
  }
}

.schedule .button {
  text-align: center;
}

.schedule .inquiry {
  background-color: #421f15;
  border-color: #421f15;
  margin-right: 15px;
}

.schedule .reserve {
  margin-left: 15px;
  border-color: #c63205;
}

/*------------------------------------------*
* copyright
*------------------------------------------*/
.copyright {
  padding: 33px 0;
  background-color: #333333;
  color: white;
}
/*# sourceMappingURL=style.css.map */