/*------------------------------------------*
* home
*------------------------------------------*/
.home .top {
  height: 180px;
}

.home .top .container {
  height: 180px;
  position: relative;
}

.home .top .container .title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.home .top .container .news_day {
  font-size: 2.5rem;
  line-height: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.home .top .container .subTitle {
  padding-top: 0;
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 0.7px;
}

.home .top .container h2 {
  text-align: left;
  font-size: 4rem;
}

.home .top .container .com_btn {
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
}

.home .top .container .button {
  bottom: -12%;
}

.home .top .container .breadcrumbs {
  color: black;
  font-size: 1.2rem;
  position: absolute;
  bottom: -30%;
}

.home .story_top {
  background: url(../img/story/story1.png) center/cover no-repeat;
  height: 635px;
  position: relative;
}

.home .story_top .container .breadcrumbs {
  color: white;
}

.home .story_top .container .storyInfo {
  margin-top: 60px;
}

.home .story_top .container .storyInfo .storyBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 130px;
}

.home .story_top .container .storyInfo .storyBlock h3 {
  width: 50%;
  font-size: 2.6rem;
  line-height: 150px;
}

.home .story_top .container .storyInfo .storyBlock p {
  width: 50%;
  text-align: left;
  line-height: 1.8rem;
}

.home .story_top::before {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

/*------------------------------------------*
* news
*------------------------------------------*/
.news {
  padding-bottom: 0;
}

.news .container .paging {
  font-size: 2rem;
  text-align: center;
}

.news .container .paging a {
  text-align: center;
  margin: 0px 2px;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  color: #FFFF00;
  opacity: 1;
  border: 1px solid #000000;
  background: #FFFFFF;
}

.news .container .paging .next {
  color: black;
  background: none;
}

.news .container .paging a:hover {
  background: #FFCC99;
}

.news .container .paging a:visited {
  background: #000000;
}

.news .container .paging a:active {
  background: #FFFFFF;
}

/*------------------------------------------*
* pickupNews
*------------------------------------------*/
.pickupNews {
  background: url(../img/com_bg.png) center/cover no-repeat;
}

.pickupNews .container {
  text-align: left;
}

.pickupNews .container img {
  width: 100%;
}

.pickupNews .container .titleInfo {
  background-color: black;
  color: white;
  padding: 14px 30px;
}

.pickupNews .container .titleInfo .day {
  font-size: 1.2rem;
}

.pickupNews .container .titleInfo .title {
  font-size: 2.6rem;
}

.pickupNews .container .pickupNewsInfo {
  background-color: white;
  padding: 30px;
  text-align: left;
}

.pickupNews .container .pickupNewsInfo .subTitle {
  font-size: 2.2rem;
}

.pickupNews .container .pickupNewsInfo .caption {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px 0;
}

.pickupNews .container .pickupNewsInfo .text {
  text-align: left;
  font-size: 1.6rem;
  color: gray;
}

.pickupNews .container .pagingNews {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.pickupNews .container .pagingNews .day {
  font-size: 1.2rem;
  color: gray;
}

.pickupNews .container .pagingNews .title {
  font-size: 1.4rem;
}

.pickupNews .container .pagingNews .paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  width: 45%;
}

.pickupNews .container .pagingNews .paging a {
  width: 41px;
  height: 33px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #FFFF00;
  opacity: 1;
  border: 1px solid #000000;
  background: #FFFFFF;
  border-radius: 50%;
}

.pickupNews .container .pagingNews .paging .next {
  color: black;
  background: none;
}

.pickupNews .container .pagingNews .paging_left a {
  margin-right: 10px;
}

.pickupNews .container .pagingNews .paging_right {
  position: absolute;
  right: 0;
  text-align: right;
}

.pickupNews .container .pagingNews .paging_right a {
  margin-left: 10px;
}

.pickupNews .container .pagingNews .paging a:hover {
  background: #FFCC99;
}

.pickupNews .container .pagingNews .paging a:visited {
  background: #000000;
}

.pickupNews .container .pagingNews .paging a:active {
  background: #FFFFFF;
}

/*------------------------------------------*
* underStory
*------------------------------------------*/
.underStory {
  color: white;
  background-color: black;
}

.underStory .story2 {
  background: url(../img/story/story2.png) center/cover no-repeat;
  height: 350px;
}

.underStory .story2 .container {
  position: relative;
}

.underStory .story2 .container p {
  width: 48%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  line-height: 1.8rem;
  letter-spacing: 0.8px;
}

.underStory .story3 {
  background: url(../img/story/story3.png) center/cover no-repeat;
  height: 350px;
}

.underStory .story3 .container {
  position: relative;
}

.underStory .story3 .container p {
  width: 48%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  line-height: 1.8rem;
  letter-spacing: 0.8px;
  left: auto;
  right: 0;
}

.underStory .story4 {
  background: url(../img/story/story4.png) center/cover no-repeat;
  height: 350px;
}

.underStory .story4 .container {
  position: relative;
}

.underStory .story4 .container p {
  width: 48%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  line-height: 1.8rem;
  letter-spacing: 0.8px;
}

/*------------------------------------------*
* underComments
*------------------------------------------*/
.underComments .row {
  padding-top: 30px;
}

.underComments .row .name {
  text-align: center;
  padding-bottom: 10px;
  font-size: 2.2rem;
  font-weight: bold;
}

.underComments .row .job {
  color: gray;
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.underComments .row .text {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.comments {
  padding-bottom: 0;
}

/*------------------------------------------*
* underCast
*------------------------------------------*/
.cast .com_title {
  padding-top: 60px;
}

.cast2 {
  background: url(../img/com_bg.png) center/cover no-repeat;
  padding-top: 60px;
}

.cast2 .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.cast2 img {
  width: 130px;
  height: 130px;
}

.cast2 .info {
  padding-left: 10px;
}

.cast2 .work {
  font-size: 1.7rem;
}

.cast2 .name {
  font-size: 2.3rem;
  padding-bottom: 10px;
  font-weight: bold;
}

.cast2 .job {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.cast2 .text {
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.cast3 {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 10px;
}

.cast3 .row {
  padding-bottom: 40px;
}

.cast3 .row .work {
  font-size: 1.7rem;
  color: gray;
}

.cast3 .row .name {
  font-size: 2.3rem;
  padding-bottom: 10px;
}

.cast3 .row .job {
  font-size: 1.2rem;
}
/*# sourceMappingURL=underStyle.css.map */