/*------------------------------------------*
* home
*------------------------------------------*/
.home {
    .top {
        $topHeight: 180px;
        height: $topHeight;
        
        .container {
            height: $topHeight;
            position: relative;

            .title {
                position: absolute;
                top: 50%;
    	        left: 0;
	            transform: translate(0, -50%);
            }
            .news_day {
                font-size: 2.5rem;
                line-height: 30px;

                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
            }
            .subTitle {
                padding-top: 0;
                text-align: left;
                font-size: 1.5rem;
                letter-spacing: 0.7px;
            }
            h2 {
                text-align: left;
                font-size: 4rem;
            }
            .com_btn {
                width: 150px;
                height: 40px;
                font-size: 1.2rem;
            }
            .button {
                bottom: -12%;
            }
            .breadcrumbs {
                color: black;
                font-size: 1.2rem;
                position: absolute;
                bottom: -30%;
            }
        }
    }

    
    .story_top {
        background:url(../img/story/story1.png) center/cover no-repeat; 
        height: 635px;

        position: relative;
        .container {
            .breadcrumbs {
                color: white;
            }

            .storyInfo {
                margin-top: 60px;
                
                .storyBlock {
                    display: flex;
                    position: relative;
                    height: 130px;
                    h3 {
                        width: 50%;
                        font-size: 2.6rem;
                        line-height: 150px;
                    }
                    p {
                        width: 50%;
                        text-align: left;
                        line-height: 1.8rem;
                    }
                }
            }
        }   
    }
    .story_top::before{
        background-color: rgba(0,0,0,0.4);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: ' ';
    }

}


/*------------------------------------------*
* news
*------------------------------------------*/
.news {
    padding-bottom: 0;

    .container {
        .paging {
            font-size: 2rem;
            text-align: center;

            a {
                text-align:center;
                margin:0px 2px;
                padding:5px 10px;
                text-decoration:none;
                font-weight:bold;
                color:#FFFF00;
                opacity: 1;
                border:1px solid #000000;
                background:#FFFFFF;
            }

            .next {
                color: black;
                background:none;
            }
        }

        .paging a:hover {background:#FFCC99;}
        .paging a:visited {background:#000000;}
        .paging a:active {background:#FFFFFF;}
    }
}
    
/*------------------------------------------*
* pickupNews
*------------------------------------------*/
.pickupNews {
    background:url(../img/com_bg.png) center/cover no-repeat;
    .container {
        text-align: left;
        img {
            width: 100%;
        }

        .titleInfo {
            background-color: black;
            color: white;
            padding: 14px 30px;
            .day {
                font-size: 1.2rem;
            }
            .title {
                font-size: 2.6rem;
            }
        }

        .pickupNewsInfo {
            background-color: white;
            padding: 30px;
            text-align: left;

            .subTitle {
                font-size: 2.2rem;
            }
            .caption {
                font-size: 1.8rem;
                font-weight: bold;
                padding: 20px 0;
            }
            .text {
                text-align: left;
                font-size: 1.6rem;
                color: gray
            }
        }

        .pagingNews {
            padding-top: 20px;
            display: flex;
            position: relative;
 
            .day {
                font-size: 1.2rem;
                color: gray;
            }
            .title {
                font-size: 1.4rem;
            }

            .paging {
                display: flex;
                font-size: 2rem;
                width: 45%;
    
                a {
                    width: 41px;
                    height: 33px;
                    text-align:center;
                    margin-top: 10px;
                    text-decoration:none;
                    font-weight:bold;
                    color:#FFFF00;
                    opacity: 1;
                    border:1px solid #000000;
                    background:#FFFFFF;
                    border-radius: 50%;
                }
    
                .next {
                    color: black;
                    background:none;
                }
            }

            .paging_left {
                a {
                    margin-right: 10px;
                }
            }
            .paging_right {
                position: absolute;
                right: 0;
                text-align: right;
                a {
                    margin-left: 10px;
                }
            }
    
            .paging a:hover {background:#FFCC99;}
            .paging a:visited {background:#000000;}
            .paging a:active {background:#FFFFFF;}
        }
    }
}



/*------------------------------------------*
* underStory
*------------------------------------------*/
.underStory {
    $bgHeight: 350px;

    color: white;
    background-color: black;

    @mixin storyText {
        width: 48%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, 50%);
        line-height: 1.8rem;
        letter-spacing: 0.8px;
        @content;
    }

    .story2 {
        background:url(../img/story/story2.png) center/cover no-repeat; 
        height: $bgHeight;

        .container {
            position: relative;

            p {
                @include storyText;
            }
        }
    }

    .story3 {
        background:url(../img/story/story3.png) center/cover no-repeat; 
        height: $bgHeight;

        .container {
            position: relative;

            p {
                @include storyText;
                left: auto;
                right: 0;
            }
        }
    }
    .story4 {
        background:url(../img/story/story4.png) center/cover no-repeat; 
        height: $bgHeight;

        .container {
            position: relative;

            p {
                @include storyText;
            }
        }
    }
    
}

/*------------------------------------------*
* underComments
*------------------------------------------*/
.underComments {
    .row {
        padding-top: 30px;

        .name {
            text-align: center;
            padding-bottom: 10px;
            font-size: 2.2rem;
            font-weight: bold;
        }
        .job {
            color: gray;
            text-align: center;
            padding-bottom: 10px;
            font-size: 1.2rem;
        }
        .text {
            font-size: 1.6rem;
            line-height: 2.5rem;
        }
    }
}
.comments {
    padding-bottom: 0;
}


/*------------------------------------------*
* underCast
*------------------------------------------*/
.cast {
    
    .com_title {
        padding-top: 60px;
    }
}

.cast2 {
    background:url(../img/com_bg.png) center/cover no-repeat;
    padding-top: 60px;

    .status {
        display: flex;
        padding-bottom: 30px;
    }
    img {
        width: 130px;
        height: 130px;
    }
    .info {
        padding-left: 10px;
    }
    .work {
        font-size: 1.7rem;
    }
    .name {
        font-size: 2.3rem;
        padding-bottom: 10px;
        font-weight: bold;
    }
    .job {
        font-size: 1.2rem;
        padding-bottom: 10px;
    }
    .text {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
}

.cast3 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;

    .row {
        padding-bottom: 40px;

        .work {
            font-size: 1.7rem;
            color: gray;
        }
        .name {
            font-size: 2.3rem;
            padding-bottom: 10px;
        }
        .job {
            font-size: 1.2rem;
        }
    }

}

/*------------------------------------------*
* underInquiry
*------------------------------------------*/
.underInquiry {
    background-color: gray;
    background:url(../img/com_bg.png) center/cover no-repeat;
    padding-top: 60px;
    font-size: 1.6rem;

    .container {
        $textAreaSize: 130px;
        background: rgba(255,255,255,0.3);
        
        .item, .messageItem {
            padding-bottom: 10px;
        }

        .text {
            padding: 30px;
        }

        label {
            text-align: right;
            width: 30%;
        }
        input {
            width: 65%;
        }
        textarea {
            border-color: white;
            width: 65%;
            height: $textAreaSize;
            position: absolute;
            right: 4.5%;
        }

        .messageItem {
            height: $textAreaSize;
            position: relative;
        }
        .message {
            position: absolute;
            line-height: $textAreaSize;
        }
        .button {
            text-align: center;
            padding: 30px 0;
        }


        // confirm_
        .confirm_text {
            text-align: center;
            padding: 30px 0;
            font-size: 1.8rem;
            font-weight: bold;
        }

    }
}

