/*------------------------------------------*
* common
*------------------------------------------*/
$whiteColor:#ffffff;
$ivoryColor:#f3f3f3;
$blackColor:#3e3e3e;
$yellowColor:#ffaa3b;
$blueColor:#4973ff;
$redColor:#ff4646;


// レスポンシブ用
$maxWidth: 1366px;
$midWidth: 768px;
$smWidth: 320px;

$hoverOpacityVal: 0.8;


body {
    color: $blackColor;
    background-color: $ivoryColor;
    font-family: 'Montserrat','YuGothic','sans-serif';
}

// 継承先で各値は変更する
// comはcommonの略
.comBtn {
    width: 300px;
    max-width: 100%;
    padding: 20px 10px;
    background-color: $whiteColor;
    border: 2px solid transparent;
    text-align: center;
    text-decoration: none;
    transition: .25s;
}
.comBtn:hover {
    opacity: $hoverOpacityVal;
}
.comTitle {
    padding: 60px 0;
    font-size: 36px;
    font-weight: bold;
}



/*------------------------------------------*
* header
*------------------------------------------*/
$headerHeight: 80px;

.header__inner {
    position: absolute;
    width: 100%;
    height: $headerHeight;
    background: #FFFFFF1A 0% 0% no-repeat padding-box;
    z-index: 2;
}

.header_logo {
    position: absolute;
    margin: 21.5px 16px;
}

.header__menuList {
    display: flex;
    justify-content: center;
    line-height: $headerHeight;
    list-style: none;
}

.header__item {
    text-decoration: none;
}
.header__item:hover {
    opacity: $hoverOpacityVal;
}


/*------------------------------------------*
* side menu
*------------------------------------------*/
.header__sidebarMenu {
}

#sidebarMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    background-color: #ffffffee;
}

.sidebarMenu {
    margin-top: 30%;
}

.sidebarMenuInner{
    position: relative;
    padding-top: 100px;
    text-align: center;
}

.sidebarMenuInner li{
    font-weight: bold;
    padding: 20px;
}
.sidebarMenuInner li a{
    color: $blackColor;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    font: "Montserrat";
    letter-spacing: -0.45px;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    top: 22px;
    width: 30px;
    right: 20px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $blackColor;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


/*------------------------------------------*
* mainVisual
*------------------------------------------*/
.mainVisual {
    position: relative;
    width: 100vw;
    height: 648px;
    background-image: url("../img/mv.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 140px;
}

.mainVisual__items {
    position: relative;
    width: 33%;
    top: 30%;
    left: 55%;
}

.mainVisual__items_title {
    font: Bold 30px/45px normal;
    letter-spacing: 0.02px;
}

.mainVisual__items_text {
    font-size: 18px;
    font-weight: bold;
}

.mainVisual__items_btn {
    padding: 14px 48px;
    box-shadow: 0px 3px 5px $blackColor;
    border-radius: 10px;
    background-color: $yellowColor;
    color: $whiteColor;
}

/*------------------------------------------*
* news
*------------------------------------------*/
.newsInner {
    background-color: $whiteColor;
    height: 665px;
    box-shadow: 0px 5px 12px $blackColor;
    margin-bottom: 140px;
}

.newsInner__contents {
    width: 90%;
    margin: 0 auto;
}

.newsInner__menuTitle {
    text-align: center;
}

.newsInner__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.newsInner__borderTop {
    border-top: #cecdcd 1px solid;
}

.newsInner__borderBottom {
    border-bottom: #cecdcd 1px solid;
}

.newsInner__item_day {
    padding-right: 30px;
}

.newsInner__item_text {
    width: 125px;
    border: 2px solid $blueColor;
    border-radius: 30px;
    text-align: center;
}

.newsInner__item_content {
    width: 58%;
    padding-left: 30px;
}

.newsInner__item_arrow {
    padding-left: 40px;
}

.newsInner__btn {
    border: 1px solid $blackColor;
    width: 248px;
    height: 64px;
    color: $blackColor;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    margin: 40px auto;
}

/*------------------------------------------*
* service
*------------------------------------------*/
.serviceInner {
    background-color: $blackColor;
    width: 100vw;
    height: auto;
    margin-bottom: 255px;
}

.serviceInner__title {
    text-align: center;
    color: $whiteColor;
}

.serviceInner__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 960px;
    height: 321px;
    margin: 0 auto;

    position: relative;
    top: 130px;
}

.serviceInner__item {
    display: flex;
    width: 231px;
    height: 211px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}


/*------------------------------------------*
* result
*------------------------------------------*/
.resultInner {
    height: 800px;
    background-color: $blackColor;
    margin-left: 10%;
    padding-left: 10%;
    margin-bottom: 80px;
}

.resultInner__title {
    color: $whiteColor;
}

.resultInner__items {
    display: flex;
}

.resultInner__item {
    background-color: $whiteColor;
    height: 368px;
}

.resultInner__item_description {
    padding: 18px;
}

.resultInner__item_descriptionTitle {
    font: Bold 20px/24px "YuGothic";
    color: $blackColor;
    padding-bottom: 20px;
}

.resultInner__item_descriptionText {
    font: normal 16px/24px "YuGothic";
    color: $blackColor;
}

.swiper-slide {
    cursor: pointer;
}

.swiper-pagination-bullets {
    display: flex;
    margin: 60px 0;
}

.swiper-pagination-bullet {
    padding: 7px;
    margin-right: 15px;
    background: $whiteColor !important;
    opacity: 1 !important;
    background: $whiteColor !important;
    border: solid 2.5px $blackColor;
    box-shadow: 0 0 0 0px $whiteColor;
    -webkit-box-shadow: 0 0 0 0px $whiteColor;
    -moz-box-shadow: 0 0 0 1px $whiteColor;
}

.swiper-pagination-bullet-active {
    background: $whiteColor !important;
    border: solid 2.5px $blackColor;
    box-shadow: 0 0 0 0px $whiteColor;
    -webkit-box-shadow: 0 0 0 2px $whiteColor;
    -moz-box-shadow: 0 0 0 1px $whiteColor;
}

.resultInner__btn {
    position: relative;
    top: 18%;
    color: white;
    background-color: $blackColor;
    border: solid 1px white;
    font: bold 20px/23px "Montserrat";
    letter-spacing: 4px;
}

/*------------------------------------------*
* price
*------------------------------------------*/
.priceInner {
    width: 960px;
    margin: 0 auto;
}

.priceInner__title {
    color: $blackColor;
    text-align: center;
}

.horizontalTable {
    border: 1px solid #ddd;
}

.horizontalTable__inner {
    width: 100%;
}

.horizontalTable__header {
    width: 30%;
    padding: 20px;
    background-color: $blackColor;
    color: $whiteColor;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    vertical-align: middle;
}

.horizontalTable__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background-color: $whiteColor;
    text-align: left;
    padding-left: 50px;
    font: {
        size: 20px;
        weight: bold;
    }
}

.horizontalTable__row:last-child .horizontalTable__header,
.horizontalTable__row:last-child .horizontalTable__text {
    border-bottom-width: 0;
}

.priceInner__attention {
    padding-top: 24px;
}

/*------------------------------------------*
* comments
*------------------------------------------*/
.commentsBackGround {
    background: $blackColor 0% 0% no-repeat padding-box;
    width: 880px;
    height: 650px;
    position: relative;
    top: 50px;
}

.commentsInner {
    width: 1180px;
    height: 616px;
    display: flex;
    position: absolute;
    top: -100px;
    left: 15%;
}

.commentsInner__comment_items {
    width: 644px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentsInner__comment {
    width: 564px;
    height: 100%;
}

.commentsInner__comment_title {
    padding: 0; // comTitleのを打ち消し_
    font: {
        weight: bold;
        size: 36px;
        family: "Montserrat";
    }
    letter-spacing: 0;
    color: $blackColor;
    display: flex;
    padding: 1.3em 0;
}

.commentsInner__comment_item {
    width: 100%;
    display: flex;
    padding: 3em 0;
}

.commentsInner__comment_itemText {
    margin-left: auto;
    width: 72%;
    font: {
        size: 16px;
        font: "YuGothic";
    };
    color: $blackColor;
}

.commentsInner__allCommenter_img {
    padding-top: 100px;
}

/*------------------------------------------*
* q&a
*------------------------------------------*/
.QAInner__BG {
    background-image: url("/img/sunyu-kim-1053375-unsplash.png");
    width: 100%;
    height: 1000px; // これはだめ
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.QAInner__title {
    text-align: center;
}

.menu__item {
    width: 616px;
    // height: 64px;    // height宣言すると開いたときにサイズ調整してくれない
    background: white;
    color: $blackColor;
    cursor: pointer;
    display: block;
    margin-bottom: 1px;
    border-radius: 7px;
    margin-left: 48%;
    margin-bottom: 30px;
}

.menu__item__link {
    color: $blackColor;
    display: block;
    line-height: 64px;
    align-items: center;
    padding: 0 1rem;
    position: relative;

    font: {
        weight: bold;
        size: 16px;
        font: "YuGothic";
    }
}
.menu__item__link:after {
    content: '';  
    width: 15px;
    height: 15px;
    background-image: url("../img/plus.png");
    background-position: right center;;
    background-repeat: no-repeat;
    display: inline-flex;
    align-items: center;
    position: relative;
    right: -90%;
}
.menu__item__link.on:after {
    content: '';
    background-image: url("../img/minus.png");
    width: 15px;
    height: 15px;
    background-position: right center;;
    background-repeat: no-repeat;
    display: inline-flex;
    align-items: center;
    position: relative;
    right: -90%;
}

.menu__item_Q {
    background: #3B69FF 0% 0% no-repeat padding-box;
    color: white;
    display: inline-flex;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu__item_text {
    display: inline-flex;
    position: absolute;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    line-height: 20px;
    margin-left: 10px;
}

.openMenu {
    background: #fff;
    border-radius: 0 0 7px 7px;
    display: none;
}

.openMenu_none {
    display: none;
}

.openMenu_BG {
    background-color: #3B69FF33;
    width: 580px;
    border-radius: 7px;
    padding: 18px;
 }

.openMenu__item {
    color: $blackColor;
    padding: 1rem;
    cursor: pointer;
}


/*------------------------------------------*
* access
*------------------------------------------*/
.accessInner {
    width: 100%;
    background: $ivoryColor 0% 0% no-repeat padding-box;
    color: white;
}

.accessInner__BG {
    background-color: $blackColor;
    width: 73%;
    margin-bottom: 200px;
}

.accessInner__Items {
    margin-left: 150px;
    padding-top: 10%;
    padding-bottom: 15%;
}

.accessInner__title {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 40px;
}

.accessInner__address {
    font: Normal 16px/26px "Yu Gothic UI";
    margin-bottom: 40px;
}

.accessInner__btn {
    background-color: $blackColor;
    border: 1px solid #FFFFFF;
    margin-bottom: 40px;
}

.accessInner__map {
    position: absolute;
    width: 720px;
    height: 515px;
    right: 0%;
    margin-top: -33%;
    margin-right: 10%;
}

/*------------------------------------------*
* contact
*------------------------------------------*/
.contact__BG {
    background-image: url("/img/alex-blajan-159378-unsplash.png");
    width: 100%;
    height: 1216px; // 最後消す
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.contactInner {
    width: 960px;
    height: 1055px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.contactHeader {
    background-image: url("../img/contact1.png");
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.contactHeader__title {
    color: white;
    text-align: center;
    padding-bottom: 12px;
    
}

.contactHeader__text {
    color: white;
    text-align: center;
    font: {
        size: 16px;
    }
}

.contactItems__BG {
    background-color: white;
    height: 855px;
    border-radius: 0px 0px 12px 12px;
    padding: 60px 90px;
    font-size: 22px;
    color: $blackColor;
}

.contactItems {
    width: 100%;
    height: 40%;
    display: flex;
}

.contactItems__item {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactItems__required {
    display: flex;
}

.contactItems__required_text {
    background-color: $redColor;
    width: 55px;
    height: 24px;
    color: white;
    position: relative;
    left: 20%;
    border-radius: 5px;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
}

.contactItems__select {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// コピペ
.cp_ipselect {
	overflow: hidden;
    width: 50%;
    height: 32px;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.6em;
	right: 0.5em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent; // 三角形作ってる
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
    padding-left: 5%;
    font-size: 18px;
}

// コピペ2
.comInput {
    box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #dddddd;
	border: none;
	border-bottom: 2px solid #dddddd;
    background: transparent;
    font-size: 22px;
}

.ef_name input[type='name']:focus {
	border-bottom: 2px solid $blueColor;
    outline: none;
}

.ef_name_sub input[type='name_sub']:focus {
	border-bottom: 2px solid $blueColor;
	outline: none;
}

.cp_address input[type='address'] {
	color: $blackColor;
	border-bottom: 2px solid $blackColor;
}
.ef_address input[type='address']:focus {
	border-bottom: 2px solid $blueColor;
	outline: none;
}

.contactItems__bottomMenu {   
    width: 100%;
    height: 450px;
    padding-top: 20px;
}

.contactItems__bottomMenu_textarea {
    width: 100%;
    height: 50%;
}

.cp_ipcheck {
    height: 100px;
    padding: 30px 0;
}

.option-input05 {
    width: 20px;
    height: 20px;
}

.contactItems__bottomMenu_btn {
    width: 174px;
    height: 50px;
    background: #FFAA3B 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #00000033;
    border-radius: 10px;
    color: $whiteColor;
    font: {
        weight: bold;
        size: 18px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
}

.radio {
    display: flex;
}

.radio-label {
    font-size: 22px;
    padding-right: 60px;
}

/*------------------------------------------*
* footer
*------------------------------------------*/
.footer {
    background-color: $blackColor;
    height: 425px;  // 最後消す
    position: relative;
    color: white;
}

.footerInner {
    width: 1180px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
}

.fa-twitter {
    color: #B1B1B1;
    padding-right: 20px;
}

.fa-facebook {
    color: #B1B1B1;
}

.footer__items_menuList {
    list-style: none;
    text-decoration: none;
    font: {
        weight: normal;
        size: 18px;
        font: "YuGothic";
    }
}

.footer__logo {
    margin-left: auto;
    position: absolute;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
    right: 0;
    text-align: right;
}

.footer__logo_main {
    color: #E3E3E3;
    font: {
        weight: bold;
        size: 44px;
        font: "Berlin Sans FB";
    }
}

.footer__logo_copy {
    color: white;
    font: {
        size: 12px;
        font: "Montserrat";
    }
}

.arrow {
    position: fixed;
    bottom: 2%;
    right: 3%;
    width: 50px;
    height: 50px;
    background: transparent url("/img/totop.png") 0% 0% no-repeat padding-box;
}


